# DATA ACQUISITION

In [84]:
import pandas as pd

filePath = './state_MA.csv'

columnDataTypes = {'activity_year': 'int64', 'lei': 'object', 'derived_msa-md': 'int64', 'state_code': 'object', 'county_code': 'float64', 'census_tract': 'float64', 'derived_loan_product_type': 'object', 'derived_dwelling_category': 'object', 'derived_ethnicity': 'object', 'derived_race': 'object', 'derived_sex': 'object', 'action_taken': 'int64', 'purchaser_type': 'int64', 'preapproval': 'int64', 'loan_type': 'int64', 'loan_purpose': 'int64', 'lien_status': 'int64', 'reverse_mortgage': 'int64', 'open-end_line_of_credit': 'int64', 'business_or_commercial_purpose': 'int64', 'loan_amount': 'float64', 'hoepa_status': 'int64', 'negative_amortization': 'int64', 'interest_only_payment': 'int64', 'balloon_payment': 'int64', 'other_nonamortizing_features': 'int64', 'construction_method': 'int64', 'occupancy_type': 'int64', 'manufactured_home_secured_property_type': 'int64', 'manufactured_home_land_property_interest': 'int64', 'income': 'float64', 'applicant_credit_score_type': 'int64', 'co-applicant_credit_score_type': 'int64', 'applicant_ethnicity-1': 'float64', 'applicant_ethnicity-2': 'float64', 'applicant_ethnicity-3': 'float64', 'applicant_ethnicity-4': 'float64', 'applicant_ethnicity-5': 'float64', 'co-applicant_ethnicity-1': 'float64', 'co-applicant_ethnicity-2': 'float64', 'co-applicant_ethnicity-3': 'float64', 'co-applicant_ethnicity-4': 'float64', 'co-applicant_ethnicity-5': 'float64', 'applicant_ethnicity_observed': 'int64', 'co-applicant_ethnicity_observed': 'int64', 'applicant_race-1': 'float64', 'applicant_race-2': 'float64', 'applicant_race-3': 'float64', 'applicant_race-4': 'float64', 'applicant_race-5': 'float64', 'co-applicant_race-1': 'float64', 'co-applicant_race-2': 'float64', 'co-applicant_race-3': 'float64', 'co-applicant_race-4': 'float64', 'co-applicant_race-5': 'float64', 'applicant_race_observed': 'int64', 'co-applicant_race_observed': 'int64', 'applicant_sex': 'int64', 'co-applicant_sex': 'int64', 'applicant_sex_observed': 'int64', 'co-applicant_sex_observed': 'int64', 'applicant_age': 'object', 'co-applicant_age': 'object', 'submission_of_application': 'int64', 'initially_payable_to_institution': 'int64', 'aus-1': 'int64', 'aus-2': 'float64', 'aus-3': 'float64', 'aus-4': 'float64', 'aus-5': 'float64', 'denial_reason-1': 'int64', 'denial_reason-2': 'float64', 'denial_reason-3': 'float64', 'denial_reason-4': 'float64', 'tract_population': 'int64', 'tract_minority_population_percent': 'float64', 'ffiec_msa_md_median_family_income': 'int64', 'tract_to_msa_income_percentage': 'float64', 'tract_owner_occupied_units': 'int64', 'tract_one_to_four_family_homes': 'int64', 'tract_median_age_of_housing_units': 'int64',

#Mixed Datatypes, originally import as object--> String to then perform pre-processing to determine conversions
'loan_to_value_ratio' : 'object',
'interest_rate' : 'object',
'rate_spread' :  'object',
'total_loan_costs' : 'object',
'total_points_and_fees' : 'object',
'origination_charges' : 'object',
'discount_points' : 'object',
'lender_credits' :  'object',
'loan_term' : 'object',
'prepayment_penalty_term' : 'object',
'intro_rate_period' : 'object',
'property_value' : 'object',
'total_units' : 'object',
'multifamily_affordable_units' : 'object',
'applicant_age_above_62' : 'object', 
'conforming_loan_limit' : 'object', 
'debt_to_income_ratio' : 'object',
'co-applicant_age_above_62' : 'object'
}


raw_data = pd.read_csv(filePath, dtype=columnDataTypes)
print("PD Dataframe Shape:" , raw_data.shape)
raw_data.info()

PD Dataframe Shape: (210210, 99)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210210 entries, 0 to 210209
Data columns (total 99 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   activity_year                             210210 non-null  int64
 1   lei                                       210210 non-null  object
 2   derived_msa-md                            210210 non-null  int64
 3   state_code                                210210 non-null  object
 4   county_code                               209034 non-null  float64
 5   census_tract                              209057 non-null  float64
 6   conforming_loan_limit                     208934 non-null  object
 7   derived_loan_product_type                 210210 non-null  object
 8   derived_dwelling_category                 210210 non-null  object
 9   derived_ethnicity                         210210 non-null  object
 10  derived_race                              210210 non-null  object
 11  derived_sex                               210210 non-null  object
 12  action_taken                              210210 non-null  int64
 13  purchaser_type                            210210 non-null  int64
 14  preapproval                               210210 non-null  int64
 15  loan_type                                 210210 non-null  int64
 16  loan_purpose                              210210 non-null  int64
 17  lien_status                               210210 non-null  int64
 18  reverse_mortgage                          210210 non-null  int64
 19  open-end_line_of_credit                   210210 non-null  int64
 20  business_or_commercial_purpose            210210 non-null  int64
 21  loan_amount                               210210 non-null  float64
 22  loan_to_value_ratio                       149036 non-null  object
 23  interest_rate                             146029 non-null  object
 24  rate_spread                               110041 non-null  object
 25  hoepa_status                              210210 non-null  int64
 26  total_loan_costs                          98740 non-null   object
 27  total_points_and_fees                     11406 non-null   object
 28  origination_charges                       99556 non-null   object
 29  discount_points                           43866 non-null   object
 30  lender_credits                            39398 non-null   object
 31  loan_term                                 207677 non-null  object
 32  prepayment_penalty_term                   27624 non-null   object
 33  intro_rate_period                         85095 non-null   object
 34  negative_amortization                     210210 non-null  int64
 35  interest_only_payment                     210210 non-null  int64
 36  balloon_payment                           210210 non-null  int64
 37  other_nonamortizing_features              210210 non-null  int64
 38  property_value                            176847 non-null  object
 39  construction_method                       210210 non-null  int64
 40  occupancy_type                            210210 non-null  int64
 41  manufactured_home_secured_property_type   210210 non-null  int64
 42  manufactured_home_land_property_interest  210210 non-null  int64
 43  total_units                               210210 non-null  object
 44  multifamily_affordable_units              11840 non-null   object
 45  income                                    180789 non-null  float64
 46  debt_to_income_ratio                      146361 non-null  object
 47  applicant_credit_score_type               210210 non-null  int64
 48  co-applicant_credit_score_type            210210 non-null  int64
 49  applicant_ethnicity-1                     209966 non-null  float64
 50  applicant_ethnicity-2                     7361 non-null    float64
 51  applicant_ethnicity-3                     158 non-null     float64
 52  applicant_ethnicity-4                     3 non-null       float64
 53  applicant_ethnicity-5                     1 non-null       float64
 54  co-applicant_ethnicity-1                  210129 non-null  float64
 55  co-applicant_ethnicity-2                  2559 non-null    float64
 56  co-applicant_ethnicity-3                  45 non-null      float64
 57  co-applicant_ethnicity-4                  0 non-null       float64
 58  co-applicant_ethnicity-5                  0 non-null       float64
 59  applicant_ethnicity_observed              210210 non-null  int64
 60  co-applicant_ethnicity_observed           210210 non-null  int64
 61  applicant_race-1                          210086 non-null  float64
 62  applicant_race-2                          10646 non-null   float64
 63  applicant_race-3                          620 non-null     float64
 64  applicant_race-4                          43 non-null      float64
 65  applicant_race-5                          3 non-null       float64
 66  co-applicant_race-1                       210185 non-null  float64
 67  co-applicant_race-2                       4679 non-null    float64
 68  co-applicant_race-3                       243 non-null     float64
 69  co-applicant_race-4                       16 non-null      float64
 70  co-applicant_race-5                       5 non-null       float64
 71  applicant_race_observed                   210210 non-null  int64
 72  co-applicant_race_observed                210210 non-null  int64
 73  applicant_sex                             210210 non-null  int64
 74  co-applicant_sex                          210210 non-null  int64
 75  applicant_sex_observed                    210210 non-null  int64
 76  co-applicant_sex_observed                 210210 non-null  int64
 77  applicant_age                             210210 non-null  object
 78  co-applicant_age                          210210 non-null  object
 79  applicant_age_above_62                    180645 non-null  object
 80  co-applicant_age_above_62                 81056 non-null   object
 81  submission_of_application                 210210 non-null  int64
 82  initially_payable_to_institution          210210 non-null  int64
 83  aus-1                                     210210 non-null  int64
 84  aus-2                                     5781 non-null    float64
 85  aus-3                                     1047 non-null    float64
 86  aus-4                                     384 non-null     float64
 87  aus-5                                     332 non-null     float64
 88  denial_reason-1                           210210 non-null  int64
 89  denial_reason-2                           8306 non-null    float64
 90  denial_reason-3                           1456 non-null    float64
 91  denial_reason-4                           110 non-null     float64
 92  tract_population                          210210 non-null  int64
 93  tract_minority_population_percent         210210 non-null  float64
 94  ffiec_msa_md_median_family_income         210210 non-null  int64
 95  tract_to_msa_income_percentage            210210 non-null  float64
 96  tract_owner_occupied_units                210210 non-null  int64
 97  tract_one_to_four_family_homes            210210 non-null  int64
 98  tract_median_age_of_housing_units         210210 non-null  int64
dtypes: float64(33), int64(39), object(27)
memory usage: 158.8+ MB

In [85]:
#Data Head
raw_data.head()

,activity_year,lei,derived_msa-md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,...,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,2023,549300JOT0D4J0SZIK67,44140,MA,25013.0,2.501380e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,2145,81.40,94600,73.22,480,688,61
1,2023,549300JOT0D4J0SZIK67,15764,MA,25009.0,2.500926e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,3623,39.28,146200,37.31,389,889,0
2,2023,549300JOT0D4J0SZIK67,15764,MA,25017.0,2.501731e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,4920,62.38,146200,58.92,1222,1537,68
3,2023,549300JOT0D4J0SZIK67,38340,MA,25003.0,2.500391e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,6330,8.18,92500,111.18,2350,3056,64
4,2023,549300JOT0D4J0SZIK67,15764,MA,25009.0,2.500925e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,7992,37.15,146200,143.23,2058,2087,34

# DATA PREPROCESSING

In [96]:
#Since dataset only spans one year=2023, and one state = MA, these columns are not necessary.
columnsToDrop = {'activity_year','state_code'}
#Checking if columns exist to avoid errors if running code multiple times.
raw_data.drop(columns=columnsToDrop.intersection(set(raw_data.columns)) , inplace=True)

#Valid column values for Loan/Application Register (LAR)
#If a LAR column is of type varied (Ex: loan_amount), we will process these seperately.
hdmaDictionary = {
    "derived_msa-md" : {
        99999 : "NA / Unknown"
    },
    "conforming_loan_limit" : {
        "C": "Conforming",
        "NC": "Nonconforming",
        "U": "Undetermined",
        "NA": "Not Applicable"
    },
    "derived_loan_product_type" : {
        "Conventional:First Lien": "Conventional:First Lien",
        "FHA:First Lien": "FHA:First Lien",
        "VA:First Lien": "VA:First Lien",
        "FSA/RHS:First Lien": "FSA/RHS:First Lien",
        "Conventional:Subordinate Lien": "Conventional:Subordinate Lien",
        "FHA:Subordinate Lien": "FHA:Subordinate Lien",
        "VA:Subordinate Lien": "VA:Subordinate Lien",
        "FSA/RHS:Subordinate Lien": "FSA/RHS:Subordinate Lien"
    },
    "derived_dwelling_category" : {
        "Single Family (1-4 Units):Site-Built": "Single Family (1-4 Units):Site-Built",
        "Multifamily:Site-Built": "Multifamily:Site-Built (5+ Units)",
        "Single Family (1-4 Units):Manufactured": "Single Family (1-4 Units):Manufactured",
        "Multifamily:Manufactured": "Multifamily:Manufactured (5+ Units)"
    },
    "derived_ethnicity" : {
        "Hispanic or Latino": "Hispanic or Latino",
        "Not Hispanic or Latino": "Not Hispanic or Latino",
        "Joint": "Joint",
        "Ethnicity Not Available": "Ethnicity Not Available",
        "Free Form Text Only": "Free Form Text Only"
    },
    "derived_race": {
        "American Indian or Alaska Native": "American Indian or Alaska Native",
        "Asian": "Asian",
        "Black or African American": "Black or African American",
        "Native Hawaiian or Other Pacific Islander": "Native Hawaiian or Other Pacific Islander",
        "White": "White",
        "2 or more minority races": "2 or more minority races",
        "Joint": "Joint",
        "Free Form Text Only": "Free Form Text Only",
        "Race Not Available": "Race Not Available"
    },
    "derived_sex"  : {
        "Male": "Male",
        "Female": "Female",
        "Joint": "Joint",
        "Sex Not Available": "Sex Not Available"
    },
    "action_taken": {
        1: "Loan originated",
        2: "Application approved but not accepted",
        3: "Application denied",
        4: "Application withdrawn by applicant",
        5: "File closed for incompleteness",
        6: "Loan purchased by the institution",
        7: "Preapproval request denied",
        8: "Preapproval request approved but not accepted"
    },
    "purchaser_type": { 
        0: "Not applicable",
        1: "Fannie Mae",
        2: "Ginnie Mae",
        3: "Freddie Mac",
        4: "Farmer Mac",
        5: "Private securitizer",
        6: "Commercial bank, savings bank, or savings association",
        71: "Credit union, mortgage company, or finance company",
        72: "Life insurance company",
        8: "Affiliate institution",
        9: "Other type of purchaser"
    },
    "preapproval": {
        1: "Preapproval requested",
        2: "Preapproval not requested"
    },
    "loan_type" : { 
        1: "Conventional (not insured or guaranteed by FHA, VA, RHS, or FSA)",
        2: "Federal Housing Administration insured (FHA)",
        3: "Veterans Affairs guaranteed (VA)",
        4: "USDA Rural Housing Service or Farm Service Agency guaranteed (RHS or FSA)"
    },
    "loan_purpose" : {
        1: "Home purchase",
        2: "Home improvement",
        31: "Refinancing",
        32: "Cash-out refinancing",
        4: "Other purpose",
        5: "Not applicable"
    },
    "lien_status" : {
        1: "Secured by a first lien",
        2: "Secured by a subordinate lien"
    },
    "reverse_mortgage" : {
        1: "Reverse mortgage",
        2: "Not a reverse mortgage",
        1111: "Exempt"
    },
    "open-end_line_of_credit" : {
        1: "Open-end line of credit",
        2: "Not an open-end line of credit",
        1111: "Exempt"
    },
    "business_or_commercial_purpose" : {
        1: "Primarily for a business or commercial purpose",
        2: "Not primarily for a business or commercial purpose",
        1111: "Exempt"
    },
    "hoepa_status" : {
        1: "High-cost mortgage",
        2: "Not a high-cost mortgage",
        3: "Not applicable"
    },
    "negative_amortization" :{
        1: "Negative amortization",
        2: "No negative amortization",
        1111: "Exempt"
    },
    "interest_only_payment" : {
        1: "Interest-only payments",
        2: "No interest-only payments",
        1111: "Exempt"
    },
    "balloon_payment" : {
        1: "Balloon payment",
        2: "No balloon payment",
        1111: "Exempt"        
    },
    "other_nonamortizing_features" : {
        1: "Other non-fully amortizing features",
        2: "No other non-fully amortizing features",
        1111: "Exempt"        
    },
    "construction_method" : {
        1: "Site-built",
        2: "Manufactured home"
    },
    "occupancy_type" : {
        1: "Principal residence",
        2: "Second residence",
        3: "Investment property"
    },
    "manufactured_home_secured_property_type" : {
        1: "Manufactured home and land",
        2: "Manufactured home and not land",
        3: "Not applicable",
        1111: "Exempt"
    },
    "manufactured_home_land_property_interest" : {
        1: "Direct ownership",
        2: "Indirect ownership",
        3: "Paid leasehold",
        4: "Unpaid leasehold",
        5: "Not applicable",
        1111: "Exempt"
    },
    "total_units" :{
        '1': "1",
        '2': "2",
        '3': "3",
        '4': "4",
        "5-24": "5-24",
        "25-49": "25-49",
        "50-99": "50-99",
        "100-149": "100-149",
        ">149": ">149"
    },
    "debt_to_income_ratio" : {
        "<20%": "<20%",
        "20%-<30%": "20%-<30%",
        "30%-<36%": "30%-<36%",
        "37": "37%",
        "38": "38%",
        "39": "39%",
        "40": "40%",
        "41": "41%",
        "42": "42%",
        "43": "43%",
        "44": "44%",
        "45": "45%",
        "46": "46%",
        "47": "47%",
        "48": "48%",
        "49": "49%",
        "50%-60%": "50%-60%",
        ">60%": ">60%",
        "NA": "NA",
        "Exempt": "Exempt"
    },
    "applicant_credit_score_type" : {
        1: "Equifax Beacon 5.0",
        2: "Experian Fair Isaac",
        3: "FICO Risk Score Classic 04",
        4: "FICO Risk Score Classic 98",
        5: "VantageScore 2.0",
        6: "VantageScore 3.0",
        7: "More than one credit scoring model",
        8: "Other credit scoring model",
        9: "Not applicable",
        1111: "Exempt"        
    },
    "co-applicant_credit_score_type" :{    
        1: "Equifax Beacon 5.0",
        2: "Experian Fair Isaac",
        3: "FICO Risk Score Classic 04",
        4: "FICO Risk Score Classic 98",
        5: "VantageScore 2.0",
        6: "VantageScore 3.0",
        7: "More than one credit scoring model",
        8: "Other credit scoring model",
        9: "Not applicable",
        1111: "Exempt"
    },
    "applicant_ethnicity-1" : {
        1: "Hispanic or Latino",
        11: "Mexican",
        12: "Puerto Rican",
        13: "Cuban",
        14: "Other Hispanic or Latino",
        2: "Not Hispanic or Latino",
        3: "Information not provided by applicant in mail, internet, or telephone application",
        4: "Not applicable"
    },
    "applicant_ethnicity-2" : {
        1: "Hispanic or Latino",
        11: "Mexican",
        12: "Puerto Rican",
        13: "Cuban",
        14: "Other Hispanic or Latino",
        2: "Not Hispanic or Latino",
        3: "Information not provided by applicant in mail, internet, or telephone application",
        4: "Not applicable"
    },
    "applicant_ethnicity-3" : {
        1: "Hispanic or Latino",
        11: "Mexican",
        12: "Puerto Rican",
        13: "Cuban",
        14: "Other Hispanic or Latino",
        2: "Not Hispanic or Latino",
        3: "Information not provided by applicant in mail, internet, or telephone application",
        4: "Not applicable"
    },
    "applicant_ethnicity-4" : {
        1: "Hispanic or Latino",
        11: "Mexican",
        12: "Puerto Rican",
        13: "Cuban",
        14: "Other Hispanic or Latino",
        2: "Not Hispanic or Latino",
        3: "Information not provided by applicant in mail, internet, or telephone application",
        4: "Not applicable"
    },
    "applicant_ethnicity-5" : {
        1: "Hispanic or Latino",
        11: "Mexican",
        12: "Puerto Rican",
        13: "Cuban",
        14: "Other Hispanic or Latino",
        2: "Not Hispanic or Latino",
        3: "Information not provided by applicant in mail, internet, or telephone application",
        4: "Not applicable"
    },
    "co-applicant_ethnicity-1" : {
        1: "Hispanic or Latino",
        11: "Mexican",
        12: "Puerto Rican",
        13: "Cuban",
        14: "Other Hispanic or Latino",
        2: "Not Hispanic or Latino",
        3: "Information not provided by applicant in mail, internet, or telephone application",
        4: "Not applicable"
    },
    "co-applicant_ethnicity-2" : {
        1: "Hispanic or Latino",
        11: "Mexican",
        12: "Puerto Rican",
        13: "Cuban",
        14: "Other Hispanic or Latino",
        2: "Not Hispanic or Latino",
        3: "Information not provided by applicant in mail, internet, or telephone application",
        4: "Not applicable"
    },
    "co-applicant_ethnicity-3" : {
        1: "Hispanic or Latino",
        11: "Mexican",
        12: "Puerto Rican",
        13: "Cuban",
        14: "Other Hispanic or Latino",
        2: "Not Hispanic or Latino",
        3: "Information not provided by applicant in mail, internet, or telephone application",
        4: "Not applicable"
    },
    "co-applicant_ethnicity-4" : {
        1: "Hispanic or Latino",
        11: "Mexican",
        12: "Puerto Rican",
        13: "Cuban",
        14: "Other Hispanic or Latino",
        2: "Not Hispanic or Latino",
        3: "Information not provided by applicant in mail, internet, or telephone application",
        4: "Not applicable"
    },
    "co-applicant_ethnicity-5" : {
        1: "Hispanic or Latino",
        11: "Mexican",
        12: "Puerto Rican",
        13: "Cuban",
        14: "Other Hispanic or Latino",
        2: "Not Hispanic or Latino",
        3: "Information not provided by applicant in mail, internet, or telephone application",
        4: "Not applicable"
    },
    "applicant_ethnicity_observed": {
        1: "Collected on the basis of visual observation or surname",
        2: "Not collected on the basis of visual observation or surname",
        3: "Not applicable"        
    },
    "co-applicant_ethnicity_observed": {
        1: "Collected on the basis of visual observation or surname",
        2: "Not collected on the basis of visual observation or surname",
        3: "Not applicable"        
    },
    "applicant_race-1" : {
        1: "American Indian or Alaska Native",
        2: "Asian",
        21: "Asian Indian",
        22: "Chinese",
        23: "Filipino",
        24: "Japanese",
        25: "Korean",
        26: "Vietnamese",
        27: "Other Asian",
        3: "Black or African American",
        4: "Native Hawaiian or Other Pacific Islander",
        41: "Native Hawaiian",
        42: "Guamanian or Chamorro",
        43: "Samoan",
        44: "Other Pacific Islander",
        5: "White",
        6: "Information not provided by applicant in mail, internet, or telephone application",
        7: "Not applicable"
    },
    "applicant_race-2" : {
        1: "American Indian or Alaska Native",
        2: "Asian",
        21: "Asian Indian",
        22: "Chinese",
        23: "Filipino",
        24: "Japanese",
        25: "Korean",
        26: "Vietnamese",
        27: "Other Asian",
        3: "Black or African American",
        4: "Native Hawaiian or Other Pacific Islander",
        41: "Native Hawaiian",
        42: "Guamanian or Chamorro",
        43: "Samoan",
        44: "Other Pacific Islander",
        5: "White",
        6: "Information not provided by applicant in mail, internet, or telephone application",
        7: "Not applicable"
    },
    "applicant_race-3" : {
        1: "American Indian or Alaska Native",
        2: "Asian",
        21: "Asian Indian",
        22: "Chinese",
        23: "Filipino",
        24: "Japanese",
        25: "Korean",
        26: "Vietnamese",
        27: "Other Asian",
        3: "Black or African American",
        4: "Native Hawaiian or Other Pacific Islander",
        41: "Native Hawaiian",
        42: "Guamanian or Chamorro",
        43: "Samoan",
        44: "Other Pacific Islander",
        5: "White",
        6: "Information not provided by applicant in mail, internet, or telephone application",
        7: "Not applicable"
    },
    "applicant_race-4" : {
        1: "American Indian or Alaska Native",
        2: "Asian",
        21: "Asian Indian",
        22: "Chinese",
        23: "Filipino",
        24: "Japanese",
        25: "Korean",
        26: "Vietnamese",
        27: "Other Asian",
        3: "Black or African American",
        4: "Native Hawaiian or Other Pacific Islander",
        41: "Native Hawaiian",
        42: "Guamanian or Chamorro",
        43: "Samoan",
        44: "Other Pacific Islander",
        5: "White",
        6: "Information not provided by applicant in mail, internet, or telephone application",
        7: "Not applicable"
    },
    "applicant_race-5" : {
        1: "American Indian or Alaska Native",
        2: "Asian",
        21: "Asian Indian",
        22: "Chinese",
        23: "Filipino",
        24: "Japanese",
        25: "Korean",
        26: "Vietnamese",
        27: "Other Asian",
        3: "Black or African American",
        4: "Native Hawaiian or Other Pacific Islander",
        41: "Native Hawaiian",
        42: "Guamanian or Chamorro",
        43: "Samoan",
        44: "Other Pacific Islander",
        5: "White",
        6: "Information not provided by applicant in mail, internet, or telephone application",
        7: "Not applicable"
    },
    "co-applicant_race-1" : {
        1: "American Indian or Alaska Native",
        2: "Asian",
        21: "Asian Indian",
        22: "Chinese",
        23: "Filipino",
        24: "Japanese",
        25: "Korean",
        26: "Vietnamese",
        27: "Other Asian",
        3: "Black or African American",
        4: "Native Hawaiian or Other Pacific Islander",
        41: "Native Hawaiian",
        42: "Guamanian or Chamorro",
        43: "Samoan",
        44: "Other Pacific Islander",
        5: "White",
        6: "Information not provided by applicant in mail, internet, or telephone application",
        7: "Not applicable"
    },
    "co-applicant_race-2" : {
        1: "American Indian or Alaska Native",
        2: "Asian",
        21: "Asian Indian",
        22: "Chinese",
        23: "Filipino",
        24: "Japanese",
        25: "Korean",
        26: "Vietnamese",
        27: "Other Asian",
        3: "Black or African American",
        4: "Native Hawaiian or Other Pacific Islander",
        41: "Native Hawaiian",
        42: "Guamanian or Chamorro",
        43: "Samoan",
        44: "Other Pacific Islander",
        5: "White",
        6: "Information not provided by applicant in mail, internet, or telephone application",
        7: "Not applicable"
    },
    "co-applicant_race-3" : {
        1: "American Indian or Alaska Native",
        2: "Asian",
        21: "Asian Indian",
        22: "Chinese",
        23: "Filipino",
        24: "Japanese",
        25: "Korean",
        26: "Vietnamese",
        27: "Other Asian",
        3: "Black or African American",
        4: "Native Hawaiian or Other Pacific Islander",
        41: "Native Hawaiian",
        42: "Guamanian or Chamorro",
        43: "Samoan",
        44: "Other Pacific Islander",
        5: "White",
        6: "Information not provided by applicant in mail, internet, or telephone application",
        7: "Not applicable"
    },
    "co-applicant_race-4" : {
        1: "American Indian or Alaska Native",
        2: "Asian",
        21: "Asian Indian",
        22: "Chinese",
        23: "Filipino",
        24: "Japanese",
        25: "Korean",
        26: "Vietnamese",
        27: "Other Asian",
        3: "Black or African American",
        4: "Native Hawaiian or Other Pacific Islander",
        41: "Native Hawaiian",
        42: "Guamanian or Chamorro",
        43: "Samoan",
        44: "Other Pacific Islander",
        5: "White",
        6: "Information not provided by applicant in mail, internet, or telephone application",
        7: "Not applicable"
    },
    "co-applicant_race-5" : {
        1: "American Indian or Alaska Native",
        2: "Asian",
        21: "Asian Indian",
        22: "Chinese",
        23: "Filipino",
        24: "Japanese",
        25: "Korean",
        26: "Vietnamese",
        27: "Other Asian",
        3: "Black or African American",
        4: "Native Hawaiian or Other Pacific Islander",
        41: "Native Hawaiian",
        42: "Guamanian or Chamorro",
        43: "Samoan",
        44: "Other Pacific Islander",
        5: "White",
        6: "Information not provided by applicant in mail, internet, or telephone application",
        7: "Not applicable"
    },
    "applicant_race_observed" : {
        1: "Collected on the basis of visual observation or surname",
        2: "Not collected on the basis of visual observation or surname",
        3: "Not applicable"
    },
    "co-applicant_race_observed" : {
        1: "Collected on the basis of visual observation or surname",
        2: "Not collected on the basis of visual observation or surname",
        3: "Not applicable"
    },
    "applicant_sex" : {
        1: "Male",
        2: "Female",
        3: "Information not provided by applicant in mail, internet, or telephone application",
        4: "Not applicable",
        6: "Applicant selected both male and female"
    },
     "co-applicant_sex" : {
        1: "Male",
        2: "Female",
        3: "Information not provided by applicant in mail, internet, or telephone application",
        4: "Not applicable",
        6: "Applicant selected both male and female"
    },
    "applicant_sex_observed" : {
        1: "Collected on the basis of visual observation or surname",
        2: "Not collected on the basis of visual observation or surname",
        3: "Not applicable",
        4: "No co-applicant"
    },
    "co-applicant_sex_observed" : {
        1: "Collected on the basis of visual observation or surname",
        2: "Not collected on the basis of visual observation or surname",
        3: "Not applicable",
        4: "No co-applicant"
    },
    "applicant_age" : {
        "<25": "<25",
        "25-34": "25-34",
        "35-44": "35-44",
        "45-54": "45-54",
        "55-64": "55-64",
        "65-74": "65-74",
        ">74": ">74",
        "8888": "Unknown or Not Provided"        
    },
    "co-applicant_age" : {
        "<25": "<25",
        "25-34": "25-34",
        "35-44": "35-44",
        "45-54": "45-54",
        "55-64": "55-64",
        "65-74": "65-74",
        ">74": ">74",
        "8888": "Unknown or Not Provided"        
    },
    "applicant_age_above_62" : {
        "Yes": "Yes",
        "No": "No",
        "NA": "NA"
    },
    "co-applicant_age_above_62" : {
        "Yes": "Yes",
        "No": "No",
        "NA": "NA"
    },
    "submission_of_application" : {
        1: "Submitted directly to your institution",
        2: "Not submitted directly to your institution",
        3: "Not applicable",
        1111: "Exempt"
    },
    "initially_payable_to_institution" : {
        1: "Initially payable to your institution",
        2: "Not initially payable to your institution",
        3: "Not applicable",
        1111: "Exempt"
    },
    "aus-1": {
        1: "Desktop Underwriter (DU)",
        2: "Loan Prospector (LP) or Loan Product Advisor",
        3: "Technology Open to Approved Lenders (TOTAL) Scorecard",
        4: "Guaranteed Underwriting System (GUS)",
        5: "Other",
        6: "Not applicable",
        7: "Internal Proprietary System",
        1111: "Exempt"        
    },
    "aus-2": {
        1: "Desktop Underwriter (DU)",
        2: "Loan Prospector (LP) or Loan Product Advisor",
        3: "Technology Open to Approved Lenders (TOTAL) Scorecard",
        4: "Guaranteed Underwriting System (GUS)",
        5: "Other",
        6: "Not applicable",
        7: "Internal Proprietary System"      
    },
    "aus-3": {
        1: "Desktop Underwriter (DU)",
        2: "Loan Prospector (LP) or Loan Product Advisor",
        3: "Technology Open to Approved Lenders (TOTAL) Scorecard",
        4: "Guaranteed Underwriting System (GUS)",
        5: "Other",
        6: "Not applicable",
        7: "Internal Proprietary System"
    },
    "aus-4": {
        1: "Desktop Underwriter (DU)",
        2: "Loan Prospector (LP) or Loan Product Advisor",
        3: "Technology Open to Approved Lenders (TOTAL) Scorecard",
        4: "Guaranteed Underwriting System (GUS)",
        5: "Other",
        6: "Not applicable",
        7: "Internal Proprietary System"      
    },
    "aus-5": {
        1: "Desktop Underwriter (DU)",
        2: "Loan Prospector (LP) or Loan Product Advisor",
        3: "Technology Open to Approved Lenders (TOTAL) Scorecard",
        4: "Guaranteed Underwriting System (GUS)",
        5: "Other",
        6: "Not applicable",
        7: "Internal Proprietary System"       
    },
    "denial_reason-1" : {
        1: "Debt-to-income ratio",
        2: "Employment history",
        3: "Credit history",
        4: "Collateral",
        5: "Insufficient cash (downpayment, closing costs)",
        6: "Unverifiable information",
        7: "Credit application incomplete",
        8: "Mortgage insurance denied",
        9: "Other",
        10: "Not applicable"
    },
    "denial_reason-2" : {
        1: "Debt-to-income ratio",
        2: "Employment history",
        3: "Credit history",
        4: "Collateral",
        5: "Insufficient cash (downpayment, closing costs)",
        6: "Unverifiable information",
        7: "Credit application incomplete",
        8: "Mortgage insurance denied",
        9: "Other"
    },
    "denial_reason-3" : {
        1: "Debt-to-income ratio",
        2: "Employment history",
        3: "Credit history",
        4: "Collateral",
        5: "Insufficient cash (downpayment, closing costs)",
        6: "Unverifiable information",
        7: "Credit application incomplete",
        8: "Mortgage insurance denied",
        9: "Other"
    },
    "denial_reason-4" : {
        1: "Debt-to-income ratio",
        2: "Employment history",
        3: "Credit history",
        4: "Collateral",
        5: "Insufficient cash (downpayment, closing costs)",
        6: "Unverifiable information",
        7: "Credit application incomplete",
        8: "Mortgage insurance denied",
        9: "Other"
    }    
}

#Determine if Column does not contain any expected value
valueNotFound = dict()
for col in raw_data.columns:
    uniqueValues = pd.unique(raw_data[col])
    #Used to output varied types.
    # if (col not in hdmaDictionary.keys()):
    #         print("Column " + col + " not found in HDMA Dictionary due to Varied Type")
    # else:
        #Check If Column only includes designated values.
    if col in hdmaDictionary.keys():  
        for unique in uniqueValues:
            if (col in hdmaDictionary.keys()) and (unique not in hdmaDictionary[col].keys()):
                valueNotFound[col] = unique
                print("----------------------------------------------------------------------")
                print("Col: {} of type: {} with uniqueValue: {} Does NOT EXIST in options: {}".format(col, raw_data[col].dtype, unique, hdmaDictionary[col].keys()))

----------------------------------------------------------------------
Col: derived_msa-md of type: int64 with uniqueValue: 44140 Does NOT EXIST in options: dict_keys([99999])
----------------------------------------------------------------------
Col: derived_msa-md of type: int64 with uniqueValue: 15764 Does NOT EXIST in options: dict_keys([99999])
----------------------------------------------------------------------
Col: derived_msa-md of type: int64 with uniqueValue: 38340 Does NOT EXIST in options: dict_keys([99999])
----------------------------------------------------------------------
Col: derived_msa-md of type: int64 with uniqueValue: 39300 Does NOT EXIST in options: dict_keys([99999])
----------------------------------------------------------------------
Col: derived_msa-md of type: int64 with uniqueValue: 14454 Does NOT EXIST in options: dict_keys([99999])
----------------------------------------------------------------------
Col: derived_msa-md of type: int64 with uniqueValue: 49340 Does NOT EXIST in options: dict_keys([99999])
----------------------------------------------------------------------
Col: derived_msa-md of type: int64 with uniqueValue: 12700 Does NOT EXIST in options: dict_keys([99999])
----------------------------------------------------------------------
Col: conforming_loan_limit of type: object with uniqueValue: nan Does NOT EXIST in options: dict_keys(['C', 'NC', 'U', 'NA'])
----------------------------------------------------------------------
Col: debt_to_income_ratio of type: object with uniqueValue: nan Does NOT EXIST in options: dict_keys(['<20%', '20%-<30%', '30%-<36%', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50%-60%', '>60%', 'NA', 'Exempt'])
----------------------------------------------------------------------
Col: debt_to_income_ratio of type: object with uniqueValue: 36 Does NOT EXIST in options: dict_keys(['<20%', '20%-<30%', '30%-<36%', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50%-60%', '>60%', 'NA', 'Exempt'])
----------------------------------------------------------------------
Col: applicant_credit_score_type of type: int64 with uniqueValue: 11 Does NOT EXIST in options: dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 1111])
----------------------------------------------------------------------
Col: co-applicant_credit_score_type of type: int64 with uniqueValue: 10 Does NOT EXIST in options: dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 1111])
----------------------------------------------------------------------
Col: co-applicant_credit_score_type of type: int64 with uniqueValue: 11 Does NOT EXIST in options: dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 1111])
----------------------------------------------------------------------
Col: applicant_ethnicity-1 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 11, 12, 13, 14, 2, 3, 4])
----------------------------------------------------------------------
Col: applicant_ethnicity-2 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 11, 12, 13, 14, 2, 3, 4])
----------------------------------------------------------------------
Col: applicant_ethnicity-3 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 11, 12, 13, 14, 2, 3, 4])
----------------------------------------------------------------------
Col: applicant_ethnicity-4 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 11, 12, 13, 14, 2, 3, 4])
----------------------------------------------------------------------
Col: applicant_ethnicity-5 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 11, 12, 13, 14, 2, 3, 4])
----------------------------------------------------------------------
Col: co-applicant_ethnicity-1 of type: float64 with uniqueValue: 5.0 Does NOT EXIST in options: dict_keys([1, 11, 12, 13, 14, 2, 3, 4])
----------------------------------------------------------------------
Col: co-applicant_ethnicity-1 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 11, 12, 13, 14, 2, 3, 4])
----------------------------------------------------------------------
Col: co-applicant_ethnicity-2 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 11, 12, 13, 14, 2, 3, 4])
----------------------------------------------------------------------
Col: co-applicant_ethnicity-3 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 11, 12, 13, 14, 2, 3, 4])
----------------------------------------------------------------------
Col: co-applicant_ethnicity-4 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 11, 12, 13, 14, 2, 3, 4])
----------------------------------------------------------------------
Col: co-applicant_ethnicity-5 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 11, 12, 13, 14, 2, 3, 4])
----------------------------------------------------------------------
Col: co-applicant_ethnicity_observed of type: int64 with uniqueValue: 4 Does NOT EXIST in options: dict_keys([1, 2, 3])
----------------------------------------------------------------------
Col: applicant_race-1 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 2, 21, 22, 23, 24, 25, 26, 27, 3, 4, 41, 42, 43, 44, 5, 6, 7])
----------------------------------------------------------------------
Col: applicant_race-2 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 2, 21, 22, 23, 24, 25, 26, 27, 3, 4, 41, 42, 43, 44, 5, 6, 7])
----------------------------------------------------------------------
Col: applicant_race-3 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 2, 21, 22, 23, 24, 25, 26, 27, 3, 4, 41, 42, 43, 44, 5, 6, 7])
----------------------------------------------------------------------
Col: applicant_race-4 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 2, 21, 22, 23, 24, 25, 26, 27, 3, 4, 41, 42, 43, 44, 5, 6, 7])
----------------------------------------------------------------------
Col: applicant_race-5 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 2, 21, 22, 23, 24, 25, 26, 27, 3, 4, 41, 42, 43, 44, 5, 6, 7])
----------------------------------------------------------------------
Col: co-applicant_race-1 of type: float64 with uniqueValue: 8.0 Does NOT EXIST in options: dict_keys([1, 2, 21, 22, 23, 24, 25, 26, 27, 3, 4, 41, 42, 43, 44, 5, 6, 7])
----------------------------------------------------------------------
Col: co-applicant_race-1 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 2, 21, 22, 23, 24, 25, 26, 27, 3, 4, 41, 42, 43, 44, 5, 6, 7])
----------------------------------------------------------------------
Col: co-applicant_race-2 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 2, 21, 22, 23, 24, 25, 26, 27, 3, 4, 41, 42, 43, 44, 5, 6, 7])
----------------------------------------------------------------------
Col: co-applicant_race-3 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 2, 21, 22, 23, 24, 25, 26, 27, 3, 4, 41, 42, 43, 44, 5, 6, 7])
----------------------------------------------------------------------
Col: co-applicant_race-4 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 2, 21, 22, 23, 24, 25, 26, 27, 3, 4, 41, 42, 43, 44, 5, 6, 7])
----------------------------------------------------------------------
Col: co-applicant_race-5 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 2, 21, 22, 23, 24, 25, 26, 27, 3, 4, 41, 42, 43, 44, 5, 6, 7])
----------------------------------------------------------------------
Col: co-applicant_race_observed of type: int64 with uniqueValue: 4 Does NOT EXIST in options: dict_keys([1, 2, 3])
----------------------------------------------------------------------
Col: co-applicant_sex of type: int64 with uniqueValue: 5 Does NOT EXIST in options: dict_keys([1, 2, 3, 4, 6])
----------------------------------------------------------------------
Col: co-applicant_age of type: object with uniqueValue: 9999 Does NOT EXIST in options: dict_keys(['<25', '25-34', '35-44', '45-54', '55-64', '65-74', '>74', '8888'])
----------------------------------------------------------------------
Col: applicant_age_above_62 of type: object with uniqueValue: nan Does NOT EXIST in options: dict_keys(['Yes', 'No', 'NA'])
----------------------------------------------------------------------
Col: co-applicant_age_above_62 of type: object with uniqueValue: nan Does NOT EXIST in options: dict_keys(['Yes', 'No', 'NA'])
----------------------------------------------------------------------
Col: aus-2 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 2, 3, 4, 5, 6, 7])
----------------------------------------------------------------------
Col: aus-3 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 2, 3, 4, 5, 6, 7])
----------------------------------------------------------------------
Col: aus-4 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 2, 3, 4, 5, 6, 7])
----------------------------------------------------------------------
Col: aus-5 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 2, 3, 4, 5, 6, 7])
----------------------------------------------------------------------
Col: denial_reason-1 of type: int64 with uniqueValue: 1111 Does NOT EXIST in options: dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
----------------------------------------------------------------------
Col: denial_reason-2 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9])
----------------------------------------------------------------------
Col: denial_reason-3 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9])
----------------------------------------------------------------------
Col: denial_reason-4 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [87]:
#Mixed Datatype collumns
mixedDataTypeColumns = {'loan_to_value_ratio' ,
'interest_rate' ,
'rate_spread',
'total_loan_costs',
'total_points_and_fees',
'origination_charges' ,
'discount_points' ,
'lender_credits' ,
'loan_term' ,
'prepayment_penalty_term' ,
'intro_rate_period' ,
'property_value' ,
'total_units' ,
'multifamily_affordable_units' ,
'applicant_age_above_62' , 
'conforming_loan_limit' , 
'debt_to_income_ratio' ,
'co-applicant_age_above_62' }




#Check Datatypes for mixed columns        
for col in mixedDataTypeColumns:
    print("{} Current Type {} : {}".format(col,raw_data[col].dtype,raw_data[col].apply(type).unique()))
    print(raw_data[col].value_counts())

multifamily_affordable_units Current Type object : [<class 'float'> <class 'str'>]
multifamily_affordable_units
Exempt    11023
0           695
100          35
25           12
20            7
17            5
10            5
27            5
11            3
44            3
13            3
15            3
21            3
26            3
83            3
16            2
90            2
9             2
24            2
50            2
14            2
80            1
99            1
94            1
7             1
18            1
96            1
5             1
38            1
3             1
60            1
2             1
22            1
4             1
6             1
40            1
29            1
30            1
56            1
71            1
57            1
Name: count, dtype: int64
lender_credits Current Type object : [<class 'float'> <class 'str'>]
lender_credits
Exempt    11060
250.0      1275
500.0       810
1000.0      546
10.0        425
          ...
747.0         1
4220.5        1
1199.0        1
864.0         1
18.9          1
Name: count, Length: 9188, dtype: int64
rate_spread Current Type object : [<class 'float'> <class 'str'>]
rate_spread
Exempt    11045
-0.04       528
-0.19       491
-0.22       436
0.21        433
          ...
-4.453        1
-4.171        1
-4.949        1
-4.798        1
-5.25         1
Name: count, Length: 7664, dtype: int64
loan_term Current Type object : [<class 'str'> <class 'float'>]
loan_term
360       132246
300        26690
240        15070
Exempt     11053
180         8808
           ...
197            1
234            1
187            1
22             1
363            1
Name: count, Length: 302, dtype: int64
interest_rate Current Type object : [<class 'str'> <class 'float'>]
interest_rate
Exempt    11056
6.75       5421
6.5        5219
6.25       4815
6.625      4788
          ...
7.102         1
7.098         1
7.182         1
5.603         1
8.0543        1
Name: count, Length: 1630, dtype: int64
intro_rate_period Current Type object : [<class 'float'> <class 'str'>]
intro_rate_period
1         42592
Exempt    10925
84         9743
60         5995
120        5191
12         3995
6          2667
36          832
24          611
62          566
360         539
2           500
3           303
180         284
72           88
300          50
96           43
86           26
9            26
132          15
18           15
61           12
5            12
48            9
85            6
15            5
4             4
240           4
11            3
16            3
63            3
66            3
126           2
40            2
8             2
64            2
37            2
38            2
720           2
30            2
58            1
14            1
121           1
31            1
22            1
53            1
55            1
28            1
106           1
Name: count, dtype: int64
loan_to_value_ratio Current Type object : [<class 'float'> <class 'str'>]
loan_to_value_ratio
80.0      12875
Exempt    11056
95.0       5973
75.0       4528
96.5       4271
          ...
69.564        1
48.343        1
62.569        1
40.661        1
12.494        1
Name: count, Length: 38951, dtype: int64
conforming_loan_limit Current Type object : [<class 'str'> <class 'float'>]
conforming_loan_limit
C     191505
NC     17348
U         81
Name: count, dtype: int64
co-applicant_age_above_62 Current Type object : [<class 'float'> <class 'str'>]
co-applicant_age_above_62
No     66202
Yes    14854
Name: count, dtype: int64
property_value Current Type object : [<class 'str'> <class 'float'>]
property_value
Exempt      11094
505000       3123
605000       3006
555000       2997
455000       2960
            ...
5085000         1
8935000         1
6455000         1
11755000        1
15675000        1
Name: count, Length: 891, dtype: int64
origination_charges Current Type object : [<class 'str'> <class 'float'>]
origination_charges
0.0        12977
Exempt     11060
655.0       2877
1440.0      2770
1349.0      2474
           ...
1737.38        1
6751.66        1
3917.84        1
2848.16        1
922.4          1
Name: count, Length: 26155, dtype: int64
total_points_and_fees Current Type object : [<class 'float'> <class 'str'>]
total_points_and_fees
Exempt     11060
0.0          167
375.0         32
941.6         13
955.6          7
           ...
12095.0        1
29435.0        1
8994.72        1
8545.0         1
1485.0         1
Name: count, Length: 110, dtype: int64
applicant_age_above_62 Current Type object : [<class 'float'> <class 'str'>]
applicant_age_above_62
No     148151
Yes     32494
Name: count, dtype: int64
debt_to_income_ratio Current Type object : [<class 'float'> <class 'str'>]
debt_to_income_ratio
30%-<36%    18642
20%-<30%    18405
50%-60%     14323
>60%        13863
Exempt      11056
<20%         6390
42           6296
44           6019
49           5295
41           4942
43           4792
40           4650
39           4459
38           4213
45           4039
37           4019
36           3913
48           3819
47           3640
46           3586
Name: count, dtype: int64
prepayment_penalty_term Current Type object : [<class 'float'> <class 'str'>]
prepayment_penalty_term
Exempt    10926
36         9190
24         6811
12          676
2            10
60            9
84            1
0             1
Name: count, dtype: int64
discount_points Current Type object : [<class 'str'> <class 'float'>]
discount_points
Exempt     11060
1500.0        62
500.0         58
3000.0        55
4500.0        52
           ...
1879.1         1
2949.75        1
2639.02        1
2702.75        1
3014.91        1
Name: count, Length: 20760, dtype: int64
total_loan_costs Current Type object : [<class 'str'> <class 'float'>]
total_loan_costs
Exempt      11060
0.0          7161
300.0         712
99.0          711
90.0          110
            ...
12650.01        1
17458.3         1
18389.59        1
14023.32        1
2761.0          1
Name: count, Length: 55094, dtype: int64
total_units Current Type object : [<class 'str'>]
total_units
1          186824
2           14613
3            6071
4            1426
5-24         1032
25-49         122
50-99          62
>149           36
100-149        24
Name: count, dtype: int64

In [88]:
#Data Conversion 
numericalWithExcempt = {'multifamily_affordable_units','lender_credits','rate_spread','loan_term','interest_rate','intro_rate_period','loan_to_value_ratio','property_value','origination_charges','total_points_and_fees'}

#Add Option for NA, so that it is Not Applicable -> Not NA.m 
stringWithNA = {'conforming_loan_limit','co-applicant_age_above_62',}

#

#Debt to income ratio
#Individual numerical values converted to defined ranges for consistency
#Ex: debt_to_income_ratio = 42 -->

In [89]:
#Missing Values
missingValues = raw_data.isna().sum()
for col, count in missingValues.items():
    if count > 0:
        print("{} ISNA Count: {}, {:.2f}%".format(col, count, 100*count/raw_data.shape[0]))

county_code ISNA Count: 1176, 0.56%
census_tract ISNA Count: 1153, 0.55%
conforming_loan_limit ISNA Count: 1276, 0.61%
loan_to_value_ratio ISNA Count: 61174, 29.10%
interest_rate ISNA Count: 64181, 30.53%
rate_spread ISNA Count: 100169, 47.65%
total_loan_costs ISNA Count: 111470, 53.03%
total_points_and_fees ISNA Count: 198804, 94.57%
origination_charges ISNA Count: 110654, 52.64%
discount_points ISNA Count: 166344, 79.13%
lender_credits ISNA Count: 170812, 81.26%
loan_term ISNA Count: 2533, 1.20%
prepayment_penalty_term ISNA Count: 182586, 86.86%
intro_rate_period ISNA Count: 125115, 59.52%
property_value ISNA Count: 33363, 15.87%
multifamily_affordable_units ISNA Count: 198370, 94.37%
income ISNA Count: 29421, 14.00%
debt_to_income_ratio ISNA Count: 63849, 30.37%
applicant_ethnicity-1 ISNA Count: 244, 0.12%
applicant_ethnicity-2 ISNA Count: 202849, 96.50%
applicant_ethnicity-3 ISNA Count: 210052, 99.92%
applicant_ethnicity-4 ISNA Count: 210207, 100.00%
applicant_ethnicity-5 ISNA Count: 210209, 100.00%
co-applicant_ethnicity-1 ISNA Count: 81, 0.04%
co-applicant_ethnicity-2 ISNA Count: 207651, 98.78%
co-applicant_ethnicity-3 ISNA Count: 210165, 99.98%
co-applicant_ethnicity-4 ISNA Count: 210210, 100.00%
co-applicant_ethnicity-5 ISNA Count: 210210, 100.00%
applicant_race-1 ISNA Count: 124, 0.06%
applicant_race-2 ISNA Count: 199564, 94.94%
applicant_race-3 ISNA Count: 209590, 99.71%
applicant_race-4 ISNA Count: 210167, 99.98%
applicant_race-5 ISNA Count: 210207, 100.00%
co-applicant_race-1 ISNA Count: 25, 0.01%
co-applicant_race-2 ISNA Count: 205531, 97.77%
co-applicant_race-3 ISNA Count: 209967, 99.88%
co-applicant_race-4 ISNA Count: 210194, 99.99%
co-applicant_race-5 ISNA Count: 210205, 100.00%
applicant_age_above_62 ISNA Count: 29565, 14.06%
co-applicant_age_above_62 ISNA Count: 129154, 61.44%
aus-2 ISNA Count: 204429, 97.25%
aus-3 ISNA Count: 209163, 99.50%
aus-4 ISNA Count: 209826, 99.82%
aus-5 ISNA Count: 209878, 99.84%
denial_reason-2 ISNA Count: 201904, 96.05%
denial_reason-3 ISNA Count: 208754, 99.31%
denial_reason-4 ISNA Count: 210100, 99.95%

In [90]:
#PLAN:


#Merge contents for the columns