# DATA ACQUISITION

In [319]:
import pandas as pd

filePath = './state_MA.csv'

columnDataTypes = {'activity_year': 'int64', 'lei': 'object', 'derived_msa-md': 'int64', 'state_code': 'object', 'county_code': 'float64', 'census_tract': 'float64', 'derived_loan_product_type': 'object', 'derived_dwelling_category': 'object', 'derived_ethnicity': 'object', 'derived_race': 'object', 'derived_sex': 'object', 'action_taken': 'int64', 'purchaser_type': 'int64', 'preapproval': 'int64', 'loan_type': 'int64', 'loan_purpose': 'int64', 'lien_status': 'int64', 'reverse_mortgage': 'int64', 'open-end_line_of_credit': 'int64', 'business_or_commercial_purpose': 'int64', 'loan_amount': 'float64', 'hoepa_status': 'int64', 'negative_amortization': 'int64', 'interest_only_payment': 'int64', 'balloon_payment': 'int64', 'other_nonamortizing_features': 'int64', 'construction_method': 'int64', 'occupancy_type': 'int64', 'manufactured_home_secured_property_type': 'int64', 'manufactured_home_land_property_interest': 'int64', 'income': 'float64', 'applicant_credit_score_type': 'int64', 'co-applicant_credit_score_type': 'int64', 'applicant_ethnicity-1': 'float64', 'applicant_ethnicity-2': 'float64', 'applicant_ethnicity-3': 'float64', 'applicant_ethnicity-4': 'float64', 'applicant_ethnicity-5': 'float64', 'co-applicant_ethnicity-1': 'float64', 'co-applicant_ethnicity-2': 'float64', 'co-applicant_ethnicity-3': 'float64', 'co-applicant_ethnicity-4': 'float64', 'co-applicant_ethnicity-5': 'float64', 'applicant_ethnicity_observed': 'int64', 'co-applicant_ethnicity_observed': 'int64', 'applicant_race-1': 'float64', 'applicant_race-2': 'float64', 'applicant_race-3': 'float64', 'applicant_race-4': 'float64', 'applicant_race-5': 'float64', 'co-applicant_race-1': 'float64', 'co-applicant_race-2': 'float64', 'co-applicant_race-3': 'float64', 'co-applicant_race-4': 'float64', 'co-applicant_race-5': 'float64', 'applicant_race_observed': 'int64', 'co-applicant_race_observed': 'int64', 'applicant_sex': 'int64', 'co-applicant_sex': 'int64', 'applicant_sex_observed': 'int64', 'co-applicant_sex_observed': 'int64', 'applicant_age': 'object', 'co-applicant_age': 'object', 'submission_of_application': 'int64', 'initially_payable_to_institution': 'int64', 'aus-1': 'int64', 'aus-2': 'float64', 'aus-3': 'float64', 'aus-4': 'float64', 'aus-5': 'float64', 'denial_reason-1': 'int64', 'denial_reason-2': 'float64', 'denial_reason-3': 'float64', 'denial_reason-4': 'float64', 'tract_population': 'int64', 'tract_minority_population_percent': 'float64', 'ffiec_msa_md_median_family_income': 'int64', 'tract_to_msa_income_percentage': 'float64', 'tract_owner_occupied_units': 'int64', 'tract_one_to_four_family_homes': 'int64', 'tract_median_age_of_housing_units': 'int64',

#Mixed Datatypes, originally import as object--> String to then perform pre-processing to determine conversions
'loan_to_value_ratio' : 'object',
'interest_rate' : 'object',
'rate_spread' :  'object',
'total_loan_costs' : 'object',
'total_points_and_fees' : 'object',
'origination_charges' : 'object',
'discount_points' : 'object',
'lender_credits' :  'object',
'loan_term' : 'object',
'prepayment_penalty_term' : 'object',
'intro_rate_period' : 'object',
'property_value' : 'object',
'total_units' : 'object',
'multifamily_affordable_units' : 'object',
'applicant_age_above_62' : 'object', 
'conforming_loan_limit' : 'object', 
'debt_to_income_ratio' : 'object',
'co-applicant_age_above_62' : 'object'
}


raw_data = pd.read_csv(filePath, dtype=columnDataTypes)
print("PD Dataframe Shape:" , raw_data.shape)
raw_data.info()

PD Dataframe Shape: (210210, 99)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210210 entries, 0 to 210209
Data columns (total 99 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   activity_year                             210210 non-null  int64
 1   lei                                       210210 non-null  object
 2   derived_msa-md                            210210 non-null  int64
 3   state_code                                210210 non-null  object
 4   county_code                               209034 non-null  float64
 5   census_tract                              209057 non-null  float64
 6   conforming_loan_limit                     208934 non-null  object
 7   derived_loan_product_type                 210210 non-null  object
 8   derived_dwelling_category                 210210 non-null  object
 9   derived_ethnicity                         210210 non-null  object
 10  derived_race                              210210 non-null  object
 11  derived_sex                               210210 non-null  object
 12  action_taken                              210210 non-null  int64
 13  purchaser_type                            210210 non-null  int64
 14  preapproval                               210210 non-null  int64
 15  loan_type                                 210210 non-null  int64
 16  loan_purpose                              210210 non-null  int64
 17  lien_status                               210210 non-null  int64
 18  reverse_mortgage                          210210 non-null  int64
 19  open-end_line_of_credit                   210210 non-null  int64
 20  business_or_commercial_purpose            210210 non-null  int64
 21  loan_amount                               210210 non-null  float64
 22  loan_to_value_ratio                       149036 non-null  object
 23  interest_rate                             146029 non-null  object
 24  rate_spread                               110041 non-null  object
 25  hoepa_status                              210210 non-null  int64
 26  total_loan_costs                          98740 non-null   object
 27  total_points_and_fees                     11406 non-null   object
 28  origination_charges                       99556 non-null   object
 29  discount_points                           43866 non-null   object
 30  lender_credits                            39398 non-null   object
 31  loan_term                                 207677 non-null  object
 32  prepayment_penalty_term                   27624 non-null   object
 33  intro_rate_period                         85095 non-null   object
 34  negative_amortization                     210210 non-null  int64
 35  interest_only_payment                     210210 non-null  int64
 36  balloon_payment                           210210 non-null  int64
 37  other_nonamortizing_features              210210 non-null  int64
 38  property_value                            176847 non-null  object
 39  construction_method                       210210 non-null  int64
 40  occupancy_type                            210210 non-null  int64
 41  manufactured_home_secured_property_type   210210 non-null  int64
 42  manufactured_home_land_property_interest  210210 non-null  int64
 43  total_units                               210210 non-null  object
 44  multifamily_affordable_units              11840 non-null   object
 45  income                                    180789 non-null  float64
 46  debt_to_income_ratio                      146361 non-null  object
 47  applicant_credit_score_type               210210 non-null  int64
 48  co-applicant_credit_score_type            210210 non-null  int64
 49  applicant_ethnicity-1                     209966 non-null  float64
 50  applicant_ethnicity-2                     7361 non-null    float64
 51  applicant_ethnicity-3                     158 non-null     float64
 52  applicant_ethnicity-4                     3 non-null       float64
 53  applicant_ethnicity-5                     1 non-null       float64
 54  co-applicant_ethnicity-1                  210129 non-null  float64
 55  co-applicant_ethnicity-2                  2559 non-null    float64
 56  co-applicant_ethnicity-3                  45 non-null      float64
 57  co-applicant_ethnicity-4                  0 non-null       float64
 58  co-applicant_ethnicity-5                  0 non-null       float64
 59  applicant_ethnicity_observed              210210 non-null  int64
 60  co-applicant_ethnicity_observed           210210 non-null  int64
 61  applicant_race-1                          210086 non-null  float64
 62  applicant_race-2                          10646 non-null   float64
 63  applicant_race-3                          620 non-null     float64
 64  applicant_race-4                          43 non-null      float64
 65  applicant_race-5                          3 non-null       float64
 66  co-applicant_race-1                       210185 non-null  float64
 67  co-applicant_race-2                       4679 non-null    float64
 68  co-applicant_race-3                       243 non-null     float64
 69  co-applicant_race-4                       16 non-null      float64
 70  co-applicant_race-5                       5 non-null       float64
 71  applicant_race_observed                   210210 non-null  int64
 72  co-applicant_race_observed                210210 non-null  int64
 73  applicant_sex                             210210 non-null  int64
 74  co-applicant_sex                          210210 non-null  int64
 75  applicant_sex_observed                    210210 non-null  int64
 76  co-applicant_sex_observed                 210210 non-null  int64
 77  applicant_age                             210210 non-null  object
 78  co-applicant_age                          210210 non-null  object
 79  applicant_age_above_62                    180645 non-null  object
 80  co-applicant_age_above_62                 81056 non-null   object
 81  submission_of_application                 210210 non-null  int64
 82  initially_payable_to_institution          210210 non-null  int64
 83  aus-1                                     210210 non-null  int64
 84  aus-2                                     5781 non-null    float64
 85  aus-3                                     1047 non-null    float64
 86  aus-4                                     384 non-null     float64
 87  aus-5                                     332 non-null     float64
 88  denial_reason-1                           210210 non-null  int64
 89  denial_reason-2                           8306 non-null    float64
 90  denial_reason-3                           1456 non-null    float64
 91  denial_reason-4                           110 non-null     float64
 92  tract_population                          210210 non-null  int64
 93  tract_minority_population_percent         210210 non-null  float64
 94  ffiec_msa_md_median_family_income         210210 non-null  int64
 95  tract_to_msa_income_percentage            210210 non-null  float64
 96  tract_owner_occupied_units                210210 non-null  int64
 97  tract_one_to_four_family_homes            210210 non-null  int64
 98  tract_median_age_of_housing_units         210210 non-null  int64
dtypes: float64(33), int64(39), object(27)
memory usage: 158.8+ MB

In [320]:
#Data Head
raw_data.head()

,activity_year,lei,derived_msa-md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,...,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,2023,549300JOT0D4J0SZIK67,44140,MA,25013.0,2.501380e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,2145,81.40,94600,73.22,480,688,61
1,2023,549300JOT0D4J0SZIK67,15764,MA,25009.0,2.500926e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,3623,39.28,146200,37.31,389,889,0
2,2023,549300JOT0D4J0SZIK67,15764,MA,25017.0,2.501731e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,4920,62.38,146200,58.92,1222,1537,68
3,2023,549300JOT0D4J0SZIK67,38340,MA,25003.0,2.500391e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,6330,8.18,92500,111.18,2350,3056,64
4,2023,549300JOT0D4J0SZIK67,15764,MA,25009.0,2.500925e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,7992,37.15,146200,143.23,2058,2087,34

In [321]:
for col in raw_data.columns:
    print(raw_data[col].value_counts(), "\n")

activity_year
2023    210210
Name: count, dtype: int64

lei
DRMSV1Q0EKMEXLAU1P80    15294
7H6GLXDRUGQFU57RNE97    13442
B4TYDEB6GKMZO031MB27     8332
549300U3721PJGQZYY68     6139
TKT6FH38184ZYBTPKS77     5441
                        ...
5493004NH61PL6YYNH25        1
549300QHFDNFAMLATM94        1
549300H68PK1CZUVUQ73        1
549300N1R0R39PYT7O68        1
5493004T9SQFCNRQ2L76        1
Name: count, Length: 776, dtype: int64

derived_msa-md
15764    65369
14454    61348
49340    27882
44140    19559
39300    17363
12700    11403
38340     4302
99999     2984
Name: count, dtype: int64

state_code
MA    210210
Name: count, dtype: int64

county_code
25017.0    42472
25027.0    27882
25009.0    22896
25021.0    21940
25023.0    20061
25025.0    19337
25005.0    17248
25013.0    14068
25001.0    11401
25003.0     4302
25015.0     3696
25011.0     1794
25007.0      981
25019.0      956
Name: count, dtype: int64

census_tract
2.501737e+10    409
2.501737e+10    395
2.502350e+10    371
2.502775e+10    370
2.501380e+10    354
               ...
2.502500e+10      1
2.502598e+10      1
2.502598e+10      1
2.502598e+10      1
2.502398e+10      1
Name: count, Length: 1587, dtype: int64

conforming_loan_limit
C     191505
NC     17348
U         81
Name: count, dtype: int64

derived_loan_product_type
Conventional:First Lien          118008
Conventional:Subordinate Lien     68353
FHA:First Lien                    18629
VA:First Lien                      5020
FSA/RHS:First Lien                  104
FHA:Subordinate Lien                 54
FSA/RHS:Subordinate Lien             42
Name: count, dtype: int64

derived_dwelling_category
Single Family (1-4 Units):Site-Built      207948
Multifamily:Site-Built                      1269
Single Family (1-4 Units):Manufactured       986
Multifamily:Manufactured                       7
Name: count, dtype: int64

derived_ethnicity
Not Hispanic or Latino     133839
Ethnicity Not Available     56877
Hispanic or Latino          15491
Joint                        3759
Free Form Text Only           244
Name: count, dtype: int64

derived_race
White                                        120295
Race Not Available                            58605
Asian                                         13550
Black or African American                     12242
Joint                                          3929
American Indian or Alaska Native                741
2 or more minority races                        374
Native Hawaiian or Other Pacific Islander       350
Free Form Text Only                             124
Name: count, dtype: int64

derived_sex
Joint                67871
Male                 57717
Sex Not Available    42560
Female               42062
Name: count, dtype: int64

action_taken
1    111562
3     33652
6     27403
4     22452
5     10130
2      4089
8       647
7       275
Name: count, dtype: int64

purchaser_type
0     155148
1      13247
3      11327
71      9216
2       8525
9       4201
6       3888
8       3091
5       1289
72       276
4          2
Name: count, dtype: int64

preapproval
2    205882
1      4328
Name: count, dtype: int64

loan_type
1    186361
2     18683
3      5020
4       146
Name: count, dtype: int64

loan_purpose
1     99556
2     34427
32    25644
4     25636
31    22518
5      2429
Name: count, dtype: int64

lien_status
1    141761
2     68449
Name: count, dtype: int64

reverse_mortgage
2       198387
1111     10926
1          897
Name: count, dtype: int64

open-end_line_of_credit
2       141955
1        57329
1111     10926
Name: count, dtype: int64

business_or_commercial_purpose
2       186930
1        12355
1111     10925
Name: count, dtype: int64

loan_amount
105000.0      10770
55000.0        8637
205000.0       7156
155000.0       5714
255000.0       5427
              ...
45725000.0        1
65505000.0        1
5925000.0         1
7965000.0         1
34545000.0        1
Name: count, Length: 710, dtype: int64

loan_to_value_ratio
80.0      12875
Exempt    11056
95.0       5973
75.0       4528
96.5       4271
          ...
69.564        1
48.343        1
62.569        1
40.661        1
12.494        1
Name: count, Length: 38951, dtype: int64

interest_rate
Exempt    11056
6.75       5421
6.5        5219
6.25       4815
6.625      4788
          ...
7.102         1
7.098         1
7.182         1
5.603         1
8.0543        1
Name: count, Length: 1630, dtype: int64

rate_spread
Exempt    11045
-0.04       528
-0.19       491
-0.22       436
0.21        433
          ...
-4.453        1
-4.171        1
-4.949        1
-4.798        1
-5.25         1
Name: count, Length: 7664, dtype: int64

hoepa_status
2    123349
3     86801
1        60
Name: count, dtype: int64

total_loan_costs
Exempt      11060
0.0          7161
300.0         712
99.0          711
90.0          110
            ...
12650.01        1
17458.3         1
18389.59        1
14023.32        1
2761.0          1
Name: count, Length: 55094, dtype: int64

total_points_and_fees
Exempt     11060
0.0          167
375.0         32
941.6         13
955.6          7
           ...
12095.0        1
29435.0        1
8994.72        1
8545.0         1
1485.0         1
Name: count, Length: 110, dtype: int64

origination_charges
0.0        12977
Exempt     11060
655.0       2877
1440.0      2770
1349.0      2474
           ...
1737.38        1
6751.66        1
3917.84        1
2848.16        1
922.4          1
Name: count, Length: 26155, dtype: int64

discount_points
Exempt     11060
1500.0        62
500.0         58
3000.0        55
4500.0        52
           ...
1879.1         1
2949.75        1
2639.02        1
2702.75        1
3014.91        1
Name: count, Length: 20760, dtype: int64

lender_credits
Exempt    11060
250.0      1275
500.0       810
1000.0      546
10.0        425
          ...
747.0         1
4220.5        1
1199.0        1
864.0         1
18.9          1
Name: count, Length: 9188, dtype: int64

loan_term
360       132246
300        26690
240        15070
Exempt     11053
180         8808
           ...
197            1
234            1
187            1
22             1
363            1
Name: count, Length: 302, dtype: int64

prepayment_penalty_term
Exempt    10926
36         9190
24         6811
12          676
2            10
60            9
84            1
0             1
Name: count, dtype: int64

intro_rate_period
1         42592
Exempt    10925
84         9743
60         5995
120        5191
12         3995
6          2667
36          832
24          611
62          566
360         539
2           500
3           303
180         284
72           88
300          50
96           43
86           26
9            26
132          15
18           15
61           12
5            12
48            9
85            6
15            5
4             4
240           4
11            3
16            3
63            3
66            3
126           2
40            2
8             2
64            2
37            2
38            2
720           2
30            2
58            1
14            1
121           1
31            1
22            1
53            1
55            1
28            1
106           1
Name: count, dtype: int64

negative_amortization
2       199236
1111     10929
1           45
Name: count, dtype: int64

interest_only_payment
2       153896
1        45385
1111     10929
Name: count, dtype: int64

balloon_payment
2       195816
1111     10929
1         3465
Name: count, dtype: int64

other_nonamortizing_features
2       198923
1111     10929
1          358
Name: count, dtype: int64

property_value
Exempt      11094
505000       3123
605000       3006
555000       2997
455000       2960
            ...
5085000         1
8935000         1
6455000         1
11755000        1
15675000        1
Name: count, Length: 891, dtype: int64

construction_method
1    209217
2       993
Name: count, dtype: int64

occupancy_type
1    189275
3     14908
2      6027
Name: count, dtype: int64

manufactured_home_secured_property_type
3       198385
1111     10925
2          828
1           72
Name: count, dtype: int64

manufactured_home_land_property_interest
5       198387
1111     10925
3          491
2          322
1           79
4            6
Name: count, dtype: int64

total_units
1          186824
2           14613
3            6071
4            1426
5-24         1032
25-49         122
50-99          62
>149           36
100-149        24
Name: count, dtype: int64

multifamily_affordable_units
Exempt    11023
0           695
100          35
25           12
20            7
17            5
10            5
27            5
11            3
44            3
13            3
15            3
21            3
26            3
83            3
16            2
90            2
9             2
24            2
50            2
14            2
80            1
99            1
94            1
7             1
18            1
96            1
5             1
38            1
3             1
60            1
2             1
22            1
4             1
6             1
40            1
29            1
30            1
56            1
71            1
57            1
Name: count, dtype: int64

income
 120.0     1664
 100.0     1640
 90.0      1424
 80.0      1389
 75.0      1381
           ...
 1908.0       1
 1169.0       1
 1017.0       1
-58.0         1
 5375.0       1
Name: count, Length: 2098, dtype: int64

debt_to_income_ratio
30%-<36%    18642
20%-<30%    18405
50%-60%     14323
>60%        13863
Exempt      11056
<20%         6390
42           6296
44           6019
49           5295
41           4942
43           4792
40           4650
39           4459
38           4213
45           4039
37           4019
36           3913
48           3819
47           3640
46           3586
Name: count, dtype: int64

applicant_credit_score_type
9       75010
2       32078
3       32054
1       28741
7       14165
8       13770
1111    11093
11       3023
6         221
4          48
5           7
Name: count, dtype: int64

co-applicant_credit_score_type
9       89629
10      76805
1111    11093
2        7852
3        7793
1        6648
7        5187
8        4472
11        692
4          19
6          19
5           1
Name: count, dtype: int64

applicant_ethnicity-1
2.0     136065
4.0      28686
3.0      28191
1.0      15093
14.0      1425
12.0       391
11.0        76
13.0        39
Name: count, dtype: int64

applicant_ethnicity-2
14.0    4181
12.0    2342
11.0     528
13.0     179
2.0      124
1.0        7
Name: count, dtype: int64

applicant_ethnicity-3
14.0    101
12.0     26
13.0     25
11.0      3
2.0       3
Name: count, dtype: int64

applicant_ethnicity-4
13.0    2
14.0    1
Name: count, dtype: int64

applicant_ethnicity-5
14.0    1
Name: count, dtype: int64

co-applicant_ethnicity-1
5.0     104383
2.0      61428
4.0      24354
3.0      13743
1.0       5622
14.0       414
12.0       119
11.0        49
13.0        17
Name: count, dtype: int64

co-applicant_ethnicity-2
14.0    1438
12.0     802
11.0     226
13.0      54
2.0       37
1.0        2
Name: count, dtype: int64

co-applicant_ethnicity-3
14.0    33
12.0     7
13.0     5
Name: count, dtype: int64

Series([], Name: count, dtype: int64)

Series([], Name: count, dtype: int64)

applicant_ethnicity_observed
2    171039
3     34079
1      5092
Name: count, dtype: int64

co-applicant_ethnicity_observed
4    104383
2     77230
3     26714
1      1883
Name: count, dtype: int64

applicant_race-1
5.0     122513
6.0      29917
7.0      28688
3.0      13011
2.0      11952
21.0      1374
1.0       1151
27.0       387
22.0       383
44.0       197
4.0        173
26.0       159
25.0        83
23.0        73
24.0        18
42.0         5
43.0         2
Name: count, dtype: int64

applicant_race-2
22.0    2918
21.0    2849
5.0     1441
27.0    1162
26.0    1093
25.0     392
23.0     250
3.0      213
44.0     126
24.0     106
2.0       48
4.0       35
41.0       7
42.0       3
43.0       3
Name: count, dtype: int64

applicant_race-3
21.0    106
5.0      95
27.0     90
22.0     81
26.0     77
23.0     44
24.0     40
44.0     35
25.0     35
4.0       5
3.0       5
41.0      3
42.0      2
43.0      2
Name: count, dtype: int64

applicant_race-4
44.0    11
27.0     9
22.0     5
23.0     5
25.0     3
41.0     2
24.0     2
5.0      2
3.0      1
43.0     1
26.0     1
21.0     1
Name: count, dtype: int64

applicant_race-5
44.0    2
41.0    1
Name: count, dtype: int64

co-applicant_race-1
8.0     104322
5.0      55899
7.0      24394
6.0      14055
2.0       5591
3.0       4343
21.0       654
1.0        284
27.0       160
22.0       158
26.0        80
44.0        67
4.0         66
25.0        48
23.0        40
24.0        19
42.0         3
41.0         1
43.0         1
Name: count, dtype: int64

co-applicant_race-2
21.0    1388
22.0    1275
5.0      521
27.0     495
26.0     469
25.0     197
23.0     148
24.0      57
3.0       49
44.0      38
2.0       24
4.0        8
42.0       5
41.0       3
1.0        1
43.0       1
Name: count, dtype: int64

co-applicant_race-3
22.0    49
21.0    39
27.0    35
5.0     33
26.0    28
25.0    17
23.0    16
24.0    14
44.0     7
4.0      2
1.0      1
3.0      1
41.0     1
Name: count, dtype: int64

co-applicant_race-4
44.0    4
27.0    4
26.0    2
5.0     2
4.0     1
41.0    1
22.0    1
23.0    1
Name: count, dtype: int64

co-applicant_race-5
44.0    2
2.0     1
42.0    1
22.0    1
Name: count, dtype: int64

applicant_race_observed
2    171038
3     34074
1      5098
Name: count, dtype: int64

co-applicant_race_observed
4    104322
2     77251
3     26770
1      1867
Name: count, dtype: int64

applicant_sex
1    101591
2     65950
4     28691
3     13869
6       109
Name: count, dtype: int64

co-applicant_sex
5    104311
2     47259
1     26949
4     24421
3      7194
6        76
Name: count, dtype: int64

applicant_sex_observed
2    170921
3     34197
1      5092
Name: count, dtype: int64

co-applicant_sex_observed
4    104311
2     77168
3     26866
1      1865
Name: count, dtype: int64

applicant_age
35-44    45806
45-54    39507
25-34    35416
55-64    33184
8888     29565
65-74    17094
>74       6978
<25       2660
Name: count, dtype: int64

co-applicant_age
9999     104096
8888      25058
35-44     20472
25-34     17775
45-54     16179
55-64     14098
65-74      8094
>74        3009
<25        1429
Name: count, dtype: int64

applicant_age_above_62
No     148151
Yes     32494
Name: count, dtype: int64

co-applicant_age_above_62
No     66202
Yes    14854
Name: count, dtype: int64

submission_of_application
1       160464
3        26747
2        12072
1111     10927
Name: count, dtype: int64

initially_payable_to_institution
1       165782
3        31154
1111     10927
2         2347
Name: count, dtype: int64

aus-1
6       107022
1        44392
2        22581
5        14438
1111     11098
3         8767
7         1869
4           43
Name: count, dtype: int64

aus-2
1.0    2878
2.0    2295
7.0     265
5.0     224
3.0     119
Name: count, dtype: int64

aus-3
2.0    372
5.0    311
1.0    273
3.0     91
Name: count, dtype: int64

aus-4
1.0    243
3.0     74
2.0     67
Name: count, dtype: int64

aus-5
1.0    210
3.0     61
2.0     60
5.0      1
Name: count, dtype: int64

denial_reason-1
10      167130
1        14317
1111     10290
3         7028
4         5170
9         2846
7         1941
6          705
5          466
2          305
8           12
Name: count, dtype: int64

denial_reason-2
4.0    2005
1.0    1991
3.0    1494
9.0    1327
6.0     564
2.0     369
5.0     343
7.0     199
8.0      14
Name: count, dtype: int64

denial_reason-3
4.0    457
9.0    345
6.0    170
3.0    167
1.0    135
5.0     86
2.0     73
7.0     21
8.0      2
Name: count, dtype: int64

denial_reason-4
9.0    42
6.0    22
4.0    18
1.0     7
3.0     7
2.0     6
5.0     4
7.0     2
8.0     2
Name: count, dtype: int64

tract_population
0       1153
4716     641
4446     564
6259     543
8441     529
        ...
6          1
4          1
2282       1
79         1
97         1
Name: count, Length: 1383, dtype: int64

tract_minority_population_percent
0.00     1153
12.45     726
14.89     710
8.90      661
8.77      658
         ...
75.00       1
72.16       1
46.32       1
83.33       1
31.65       1
Name: count, Length: 1400, dtype: int64

ffiec_msa_md_median_family_income
146200    65369
136900    61348
115600    27882
94600     19559
108300    17363
124300    11403
92500      4302
130000     1937
0          1047
Name: count, dtype: int64

tract_to_msa_income_percentage
222.01    2445
0.00      2350
205.79    1654
160.51     729
108.89     670
          ...
30.71        2
37.45        2
46.36        2
59.62        2
98.23        2
Name: count, Length: 1451, dtype: int64

tract_owner_occupied_units
0       1238
1431     941
1233     779
1442     735
2144     708
        ...
26         6
17         3
45         2
5          1
3          1
Name: count, Length: 1123, dtype: int64

tract_one_to_four_family_homes
0       1311
1552     777
1680     760
2145     730
1321     712
        ...
404        2
72         2
37         2
38         2
40         1
Name: count, Length: 1142, dtype: int64

tract_median_age_of_housing_units
0     43480
42     5910
43     5771
47     5561
44     5442
      ...
14       52
17       48
16       28
10       25
13       19
Name: count, Length: 71, dtype: int64

# DATA PREPROCESSING

## Categorical Features

We will use the data dictionary provided by FIFEC to ensure that the categorical feature values are the correctly encoded to their correct values, as for some, the datatype selected by pandas is numerical, while the HDMA dictionary states that certain entries should allow for "NA" as text instead of 'nan' - Not a Number.

In [322]:
#Since dataset only spans one year=2023, and one state = MA, these columns are not necessary.
columnsToDrop = {'activity_year','state_code'}
#Checking if columns exist to avoid errors if running code multiple times.
raw_data.drop(columns=columnsToDrop.intersection(set(raw_data.columns)) , inplace=True)

#Valid column values for Loan/Application Register (LAR) : https://ffiec.cfpb.gov/documentation/publications/loan-level-datasets/lar-data-fields
#If a LAR column is of type varied (Ex: loan_amount), we will process these seperately.
hdmaDictionary = {
    "derived_msa-md" : {
        15764: "Hartford-West Hartford-East Hartford, CT MSA",
        38340: "Providence-Warwick, RI-MA MSA",
        39300: "Springfield, MA MSA",
        14454: "Boston-Cambridge-Newton, MA-NH MSA",
        49340: "Worcester, MA-CT MSA",
        12700: "New Bedford, MA MSA",
        44140: "Springfield, MA MSA",
        99999 : "NA / Unknown"
    },
    "conforming_loan_limit" : {
        "C": "Conforming",
        "NC": "Nonconforming",
        "U": "Undetermined",
        "NA": "Not Applicable"
    },
    "derived_loan_product_type" : {
        "Conventional:First Lien": "Conventional:First Lien",
        "FHA:First Lien": "FHA:First Lien",
        "VA:First Lien": "VA:First Lien",
        "FSA/RHS:First Lien": "FSA/RHS:First Lien",
        "Conventional:Subordinate Lien": "Conventional:Subordinate Lien",
        "FHA:Subordinate Lien": "FHA:Subordinate Lien",
        "VA:Subordinate Lien": "VA:Subordinate Lien",
        "FSA/RHS:Subordinate Lien": "FSA/RHS:Subordinate Lien"
    },
    "derived_dwelling_category" : {
        "Single Family (1-4 Units):Site-Built": "Single Family (1-4 Units):Site-Built",
        "Multifamily:Site-Built": "Multifamily:Site-Built (5+ Units)",
        "Single Family (1-4 Units):Manufactured": "Single Family (1-4 Units):Manufactured",
        "Multifamily:Manufactured": "Multifamily:Manufactured (5+ Units)"
    },
    "derived_ethnicity" : {
        "Hispanic or Latino": "Hispanic or Latino",
        "Not Hispanic or Latino": "Not Hispanic or Latino",
        "Joint": "Joint",
        "Ethnicity Not Available": "Ethnicity Not Available",
        "Free Form Text Only": "Free Form Text Only"
    },
    "derived_race": {
        "American Indian or Alaska Native": "American Indian or Alaska Native",
        "Asian": "Asian",
        "Black or African American": "Black or African American",
        "Native Hawaiian or Other Pacific Islander": "Native Hawaiian or Other Pacific Islander",
        "White": "White",
        "2 or more minority races": "2 or more minority races",
        "Joint": "Joint",
        "Free Form Text Only": "Free Form Text Only",
        "Race Not Available": "Race Not Available"
    },
    "derived_sex"  : {
        "Male": "Male",
        "Female": "Female",
        "Joint": "Joint",
        "Sex Not Available": "Sex Not Available"
    },
    "action_taken": {
        1: "Loan originated",
        2: "Application approved but not accepted",
        3: "Application denied",
        4: "Application withdrawn by applicant",
        5: "File closed for incompleteness",
        6: "Loan purchased by the institution",
        7: "Preapproval request denied",
        8: "Preapproval request approved but not accepted"
    },
    "purchaser_type": { 
        0: "Not applicable",
        1: "Fannie Mae",
        2: "Ginnie Mae",
        3: "Freddie Mac",
        4: "Farmer Mac",
        5: "Private securitizer",
        6: "Commercial bank, savings bank, or savings association",
        71: "Credit union, mortgage company, or finance company",
        72: "Life insurance company",
        8: "Affiliate institution",
        9: "Other type of purchaser"
    },
    "preapproval": {
        1: "Preapproval requested",
        2: "Preapproval not requested"
    },
    "loan_type" : { 
        1: "Conventional (not insured or guaranteed by FHA, VA, RHS, or FSA)",
        2: "Federal Housing Administration insured (FHA)",
        3: "Veterans Affairs guaranteed (VA)",
        4: "USDA Rural Housing Service or Farm Service Agency guaranteed (RHS or FSA)"
    },
    "loan_purpose" : {
        1: "Home purchase",
        2: "Home improvement",
        31: "Refinancing",
        32: "Cash-out refinancing",
        4: "Other purpose",
        5: "Not applicable"
    },
    "lien_status" : {
        1: "Secured by a first lien",
        2: "Secured by a subordinate lien"
    },
    "reverse_mortgage" : {
        1: "Reverse mortgage",
        2: "Not a reverse mortgage",
        1111: "Exempt"
    },
    "open-end_line_of_credit" : {
        1: "Open-end line of credit",
        2: "Not an open-end line of credit",
        1111: "Exempt"
    },
    "business_or_commercial_purpose" : {
        1: "Primarily for a business or commercial purpose",
        2: "Not primarily for a business or commercial purpose",
        1111: "Exempt"
    },
    "hoepa_status" : {
        1: "High-cost mortgage",
        2: "Not a high-cost mortgage",
        3: "Not applicable"
    },
    "negative_amortization" :{
        1: "Negative amortization",
        2: "No negative amortization",
        1111: "Exempt"
    },
    "interest_only_payment" : {
        1: "Interest-only payments",
        2: "No interest-only payments",
        1111: "Exempt"
    },
    "balloon_payment" : {
        1: "Balloon payment",
        2: "No balloon payment",
        1111: "Exempt"        
    },
    "other_nonamortizing_features" : {
        1: "Other non-fully amortizing features",
        2: "No other non-fully amortizing features",
        1111: "Exempt"        
    },
    "construction_method" : {
        1: "Site-built",
        2: "Manufactured home"
    },
    "occupancy_type" : {
        1: "Principal residence",
        2: "Second residence",
        3: "Investment property"
    },
    "manufactured_home_secured_property_type" : {
        1: "Manufactured home and land",
        2: "Manufactured home and not land",
        3: "Not applicable",
        1111: "Exempt"
    },
    "manufactured_home_land_property_interest" : {
        1: "Direct ownership",
        2: "Indirect ownership",
        3: "Paid leasehold",
        4: "Unpaid leasehold",
        5: "Not applicable",
        1111: "Exempt"
    },
    "total_units" :{
        '1': "1",
        '2': "2",
        '3': "3",
        '4': "4",
        "5-24": "5-24",
        "25-49": "25-49",
        "50-99": "50-99",
        "100-149": "100-149",
        ">149": ">149"
    },
    "debt_to_income_ratio" : {
        "<20%": "<20%",
        "20%-<30%": "20%-<30%",
        "30%-<36%": "30%-<36%",
        "36" : "36%",
        "37": "37%",
        "38": "38%",
        "39": "39%",
        "40": "40%",
        "41": "41%",
        "42": "42%",
        "43": "43%",
        "44": "44%",
        "45": "45%",
        "46": "46%",
        "47": "47%",
        "48": "48%",
        "49": "49%",
        "50%-60%": "50%-60%",
        ">60%": ">60%",
        "NA": "NA",
        "Exempt": "Exempt"
    },
    "applicant_credit_score_type" : {
        1: "Equifax Beacon 5.0",
        2: "Experian Fair Isaac",
        3: "FICO Risk Score Classic 04",
        4: "FICO Risk Score Classic 98",
        5: "VantageScore 2.0",
        6: "VantageScore 3.0",
        7: "More than one credit scoring model",
        8: "Other credit scoring model",
        9: "Not applicable",
        11 : " FICO Score 9", #Checked updated filing instructions release (https://ffiec.cfpb.gov/documentation/fig/2023/overview) determined that this is a new credit score filing system introduced after original dictionary was created.
        1111: "Exempt"        
    },
    "co-applicant_credit_score_type" :{    
        1: "Equifax Beacon 5.0",
        2: "Experian Fair Isaac",
        3: "FICO Risk Score Classic 04",
        4: "FICO Risk Score Classic 98",
        5: "VantageScore 2.0",
        6: "VantageScore 3.0",
        7: "More than one credit scoring model",
        8: "Other credit scoring model",
        9: "Not applicable",
        10: "No co-applicant",
        11 : " FICO Score 9", #Checked updated filing instructions release (https://ffiec.cfpb.gov/documentation/fig/2023/overview) determined that this is a new credit score filing system introduced after original dictionary was created.
        1111: "Exempt"
    },
    "applicant_ethnicity-1" : {
        1: "Hispanic or Latino",
        11: "Mexican",
        12: "Puerto Rican",
        13: "Cuban",
        14: "Other Hispanic or Latino",
        2: "Not Hispanic or Latino",
        3: "Information not provided by applicant in mail, internet, or telephone application",
        4: "Not applicable"
    },
    "applicant_ethnicity-2" : {
        1: "Hispanic or Latino",
        11: "Mexican",
        12: "Puerto Rican",
        13: "Cuban",
        14: "Other Hispanic or Latino",
        2: "Not Hispanic or Latino",
        3: "Information not provided by applicant in mail, internet, or telephone application",
        4: "Not applicable"
    },
    "applicant_ethnicity-3" : {
        1: "Hispanic or Latino",
        11: "Mexican",
        12: "Puerto Rican",
        13: "Cuban",
        14: "Other Hispanic or Latino",
        2: "Not Hispanic or Latino",
        3: "Information not provided by applicant in mail, internet, or telephone application",
        4: "Not applicable"
    },
    "applicant_ethnicity-4" : {
        1: "Hispanic or Latino",
        11: "Mexican",
        12: "Puerto Rican",
        13: "Cuban",
        14: "Other Hispanic or Latino",
        2: "Not Hispanic or Latino",
        3: "Information not provided by applicant in mail, internet, or telephone application",
        4: "Not applicable"
    },
    "applicant_ethnicity-5" : {
        1: "Hispanic or Latino",
        11: "Mexican",
        12: "Puerto Rican",
        13: "Cuban",
        14: "Other Hispanic or Latino",
        2: "Not Hispanic or Latino",
        3: "Information not provided by applicant in mail, internet, or telephone application",
        4: "Not applicable"
    },
    "co-applicant_ethnicity-1" : {
        1: "Hispanic or Latino",
        11: "Mexican",
        12: "Puerto Rican",
        13: "Cuban",
        14: "Other Hispanic or Latino",
        2: "Not Hispanic or Latino",
        3: "Information not provided by applicant in mail, internet, or telephone application",
        4: "Not applicable",
        5: "No co-applicant" # If the Co-Applicant or Co-Borrower did not select any ethnicity(ies), but only provided ethnicity(ies) in the Ethnicity of Co-Applicant or Co-Borrower: Free Form Text Field for Other Hispanic or Latino, either leave this this data field blank or enter Code 14.
    },
    "co-applicant_ethnicity-2" : {
        1: "Hispanic or Latino",
        11: "Mexican",
        12: "Puerto Rican",
        13: "Cuban",
        14: "Other Hispanic or Latino",
        2: "Not Hispanic or Latino",
        3: "Information not provided by applicant in mail, internet, or telephone application",
        4: "Not applicable"
    },
    "co-applicant_ethnicity-3" : {
        1: "Hispanic or Latino",
        11: "Mexican",
        12: "Puerto Rican",
        13: "Cuban",
        14: "Other Hispanic or Latino",
        2: "Not Hispanic or Latino",
        3: "Information not provided by applicant in mail, internet, or telephone application",
        4: "Not applicable"
    },
    "co-applicant_ethnicity-4" : {
        1: "Hispanic or Latino",
        11: "Mexican",
        12: "Puerto Rican",
        13: "Cuban",
        14: "Other Hispanic or Latino",
        2: "Not Hispanic or Latino",
        3: "Information not provided by applicant in mail, internet, or telephone application",
        4: "Not applicable"
    },
    "co-applicant_ethnicity-5" : {
        1: "Hispanic or Latino",
        11: "Mexican",
        12: "Puerto Rican",
        13: "Cuban",
        14: "Other Hispanic or Latino",
        2: "Not Hispanic or Latino",
        3: "Information not provided by applicant in mail, internet, or telephone application",
        4: "Not applicable"
    },
    "applicant_ethnicity_observed": {
        1: "Collected on the basis of visual observation or surname",
        2: "Not collected on the basis of visual observation or surname",
        3: "Not applicable"        
    },
    "co-applicant_ethnicity_observed": {
        1: "Collected on the basis of visual observation or surname",
        2: "Not collected on the basis of visual observation or surname",
        3: "Not applicable",
        4: "No co-applicant"
    },
    "applicant_race-1" : {
        1: "American Indian or Alaska Native",
        2: "Asian",
        21: "Asian Indian",
        22: "Chinese",
        23: "Filipino",
        24: "Japanese",
        25: "Korean",
        26: "Vietnamese",
        27: "Other Asian",
        3: "Black or African American",
        4: "Native Hawaiian or Other Pacific Islander",
        41: "Native Hawaiian",
        42: "Guamanian or Chamorro",
        43: "Samoan",
        44: "Other Pacific Islander",
        5: "White",
        6: "Information not provided by applicant in mail, internet, or telephone application",
        7: "Not applicable"
    },
    "applicant_race-2" : {
        1: "American Indian or Alaska Native",
        2: "Asian",
        21: "Asian Indian",
        22: "Chinese",
        23: "Filipino",
        24: "Japanese",
        25: "Korean",
        26: "Vietnamese",
        27: "Other Asian",
        3: "Black or African American",
        4: "Native Hawaiian or Other Pacific Islander",
        41: "Native Hawaiian",
        42: "Guamanian or Chamorro",
        43: "Samoan",
        44: "Other Pacific Islander",
        5: "White",
        6: "Information not provided by applicant in mail, internet, or telephone application",
        7: "Not applicable"
    },
    "applicant_race-3" : {
        1: "American Indian or Alaska Native",
        2: "Asian",
        21: "Asian Indian",
        22: "Chinese",
        23: "Filipino",
        24: "Japanese",
        25: "Korean",
        26: "Vietnamese",
        27: "Other Asian",
        3: "Black or African American",
        4: "Native Hawaiian or Other Pacific Islander",
        41: "Native Hawaiian",
        42: "Guamanian or Chamorro",
        43: "Samoan",
        44: "Other Pacific Islander",
        5: "White",
        6: "Information not provided by applicant in mail, internet, or telephone application",
        7: "Not applicable"
    },
    "applicant_race-4" : {
        1: "American Indian or Alaska Native",
        2: "Asian",
        21: "Asian Indian",
        22: "Chinese",
        23: "Filipino",
        24: "Japanese",
        25: "Korean",
        26: "Vietnamese",
        27: "Other Asian",
        3: "Black or African American",
        4: "Native Hawaiian or Other Pacific Islander",
        41: "Native Hawaiian",
        42: "Guamanian or Chamorro",
        43: "Samoan",
        44: "Other Pacific Islander",
        5: "White",
        6: "Information not provided by applicant in mail, internet, or telephone application",
        7: "Not applicable"
    },
    "applicant_race-5" : {
        1: "American Indian or Alaska Native",
        2: "Asian",
        21: "Asian Indian",
        22: "Chinese",
        23: "Filipino",
        24: "Japanese",
        25: "Korean",
        26: "Vietnamese",
        27: "Other Asian",
        3: "Black or African American",
        4: "Native Hawaiian or Other Pacific Islander",
        41: "Native Hawaiian",
        42: "Guamanian or Chamorro",
        43: "Samoan",
        44: "Other Pacific Islander",
        5: "White",
        6: "Information not provided by applicant in mail, internet, or telephone application",
        7: "Not applicable"
    },
    "co-applicant_race-1" : {
        1: "American Indian or Alaska Native",
        2: "Asian",
        21: "Asian Indian",
        22: "Chinese",
        23: "Filipino",
        24: "Japanese",
        25: "Korean",
        26: "Vietnamese",
        27: "Other Asian",
        3: "Black or African American",
        4: "Native Hawaiian or Other Pacific Islander",
        41: "Native Hawaiian",
        42: "Guamanian or Chamorro",
        43: "Samoan",
        44: "Other Pacific Islander",
        5: "White",
        6: "Information not provided by applicant in mail, internet, or telephone application",
        7: "Not applicable",
        8: "No co-applicant" #If the Co-Applicant or Co-Borrower did not select any race(s) and only provided race(s) in the Race of Co-Applicant or Co-Borrower: Free Form Text Field for American Indian or Alaska Native Enrolled or Principal Tribe, Race of Co-Applicant or Co-Borrower: Free Form Text Field for Other Asian, and/or Race of Co-Applicant or Co-Borrower: Free Form Text Field for Other Pacific Islander, either leave this data field blank or enter, as appropriate, Code 1, 27, or 44.
    },
    "co-applicant_race-2" : {
        1: "American Indian or Alaska Native",
        2: "Asian",
        21: "Asian Indian",
        22: "Chinese",
        23: "Filipino",
        24: "Japanese",
        25: "Korean",
        26: "Vietnamese",
        27: "Other Asian",
        3: "Black or African American",
        4: "Native Hawaiian or Other Pacific Islander",
        41: "Native Hawaiian",
        42: "Guamanian or Chamorro",
        43: "Samoan",
        44: "Other Pacific Islander",
        5: "White",
        6: "Information not provided by applicant in mail, internet, or telephone application",
        7: "Not applicable"
    },
    "co-applicant_race-3" : {
        1: "American Indian or Alaska Native",
        2: "Asian",
        21: "Asian Indian",
        22: "Chinese",
        23: "Filipino",
        24: "Japanese",
        25: "Korean",
        26: "Vietnamese",
        27: "Other Asian",
        3: "Black or African American",
        4: "Native Hawaiian or Other Pacific Islander",
        41: "Native Hawaiian",
        42: "Guamanian or Chamorro",
        43: "Samoan",
        44: "Other Pacific Islander",
        5: "White",
        6: "Information not provided by applicant in mail, internet, or telephone application",
        7: "Not applicable"
    },
    "co-applicant_race-4" : {
        1: "American Indian or Alaska Native",
        2: "Asian",
        21: "Asian Indian",
        22: "Chinese",
        23: "Filipino",
        24: "Japanese",
        25: "Korean",
        26: "Vietnamese",
        27: "Other Asian",
        3: "Black or African American",
        4: "Native Hawaiian or Other Pacific Islander",
        41: "Native Hawaiian",
        42: "Guamanian or Chamorro",
        43: "Samoan",
        44: "Other Pacific Islander",
        5: "White",
        6: "Information not provided by applicant in mail, internet, or telephone application",
        7: "Not applicable"
    },
    "co-applicant_race-5" : {
        1: "American Indian or Alaska Native",
        2: "Asian",
        21: "Asian Indian",
        22: "Chinese",
        23: "Filipino",
        24: "Japanese",
        25: "Korean",
        26: "Vietnamese",
        27: "Other Asian",
        3: "Black or African American",
        4: "Native Hawaiian or Other Pacific Islander",
        41: "Native Hawaiian",
        42: "Guamanian or Chamorro",
        43: "Samoan",
        44: "Other Pacific Islander",
        5: "White",
        6: "Information not provided by applicant in mail, internet, or telephone application",
        7: "Not applicable"
    },
    "applicant_race_observed" : {
        1: "Collected on the basis of visual observation or surname",
        2: "Not collected on the basis of visual observation or surname",
        3: "Not applicable"
    },
    "co-applicant_race_observed" : {
        1: "Collected on the basis of visual observation or surname",
        2: "Not collected on the basis of visual observation or surname",
        3: "Not applicable",
        4: "No co-applicant"
    },
    "applicant_sex" : {
        1: "Male",
        2: "Female",
        3: "Information not provided by applicant in mail, internet, or telephone application",
        4: "Not applicable",
        6: "Applicant selected both male and female"
    },
     "co-applicant_sex" : {
        1: "Male",
        2: "Female",
        3: "Information not provided by applicant in mail, internet, or telephone application",
        4: "Not applicable",
        5 :  "No co-applicant",
        6: "Applicant selected both male and female"
    },
    "applicant_sex_observed" : {
        1: "Collected on the basis of visual observation or surname",
        2: "Not collected on the basis of visual observation or surname",
        3: "Not applicable",
        4: "No co-applicant"
    },
    "co-applicant_sex_observed" : {
        1: "Collected on the basis of visual observation or surname",
        2: "Not collected on the basis of visual observation or surname",
        3: "Not applicable",
        4: "No co-applicant"
    },
    "applicant_age" : {
        "<25": "<25",
        "25-34": "25-34",
        "35-44": "35-44",
        "45-54": "45-54",
        "55-64": "55-64",
        "65-74": "65-74",
        ">74": ">74",
        "8888": "Unknown or Not Provided"        
    },
    "co-applicant_age" : {
        "<25": "<25",
        "25-34": "25-34",
        "35-44": "35-44",
        "45-54": "45-54",
        "55-64": "55-64",
        "65-74": "65-74",
        ">74": ">74",
        "8888": "Unknown or Not Provided",
        "9999" : "No co-applicant"
    },
    "applicant_age_above_62" : {
        "Yes": "Yes",
        "No": "No",
        "NA": "NA"
    },
    "co-applicant_age_above_62" : {
        "Yes": "Yes",
        "No": "No",
        "NA": "NA"
    },
    "submission_of_application" : {
        1: "Submitted directly to your institution",
        2: "Not submitted directly to your institution",
        3: "Not applicable",
        1111: "Exempt"
    },
    "initially_payable_to_institution" : {
        1: "Initially payable to your institution",
        2: "Not initially payable to your institution",
        3: "Not applicable",
        1111: "Exempt"
    },
    "aus-1": {
        1: "Desktop Underwriter (DU)",
        2: "Loan Prospector (LP) or Loan Product Advisor",
        3: "Technology Open to Approved Lenders (TOTAL) Scorecard",
        4: "Guaranteed Underwriting System (GUS)",
        5: "Other",
        6: "Not applicable",
        7: "Internal Proprietary System",
        1111: "Exempt"        
    },
    "aus-2": {
        1: "Desktop Underwriter (DU)",
        2: "Loan Prospector (LP) or Loan Product Advisor",
        3: "Technology Open to Approved Lenders (TOTAL) Scorecard",
        4: "Guaranteed Underwriting System (GUS)",
        5: "Other",
        6: "Not applicable",
        7: "Internal Proprietary System",
        "" : "Field does not contain entry" #Checked updated filing instructions release (https://ffiec.cfpb.gov/documentation/fig/2023/overview) determined that if this data field does not contain an entry, leave it blank
    },
    "aus-3": {
        1: "Desktop Underwriter (DU)",
        2: "Loan Prospector (LP) or Loan Product Advisor",
        3: "Technology Open to Approved Lenders (TOTAL) Scorecard",
        4: "Guaranteed Underwriting System (GUS)",
        5: "Other",
        6: "Not applicable",
        7: "Internal Proprietary System",
        "" : "Field does not contain entry" #Checked updated filing instructions release (https://ffiec.cfpb.gov/documentation/fig/2023/overview) determined that if this data field does not contain an entry, leave it blank
    },
    "aus-4": {
        1: "Desktop Underwriter (DU)",
        2: "Loan Prospector (LP) or Loan Product Advisor",
        3: "Technology Open to Approved Lenders (TOTAL) Scorecard",
        4: "Guaranteed Underwriting System (GUS)",
        5: "Other",
        6: "Not applicable",
        7: "Internal Proprietary System",
        "" : "Field does not contain entry" #Checked updated filing instructions release (https://ffiec.cfpb.gov/documentation/fig/2023/overview) determined that if this data field does not contain an entry, leave it blank
    },
    "aus-5": {
        1: "Desktop Underwriter (DU)",
        2: "Loan Prospector (LP) or Loan Product Advisor",
        3: "Technology Open to Approved Lenders (TOTAL) Scorecard",
        4: "Guaranteed Underwriting System (GUS)",
        5: "Other",
        6: "Not applicable",
        7: "Internal Proprietary System",
        "" : "Field does not contain entry" #Checked updated filing instructions release (https://ffiec.cfpb.gov/documentation/fig/2023/overview) determined that if this data field does not contain an entry, leave it blank
    },
    "denial_reason-1" : {
        1: "Debt-to-income ratio",
        2: "Employment history",
        3: "Credit history",
        4: "Collateral",
        5: "Insufficient cash (downpayment, closing costs)",
        6: "Unverifiable information",
        7: "Credit application incomplete",
        8: "Mortgage insurance denied",
        9: "Other",
        10: "Not applicable",
        1111 : "Exempt" #Checked updated filing instructions release (https://ffiec.cfpb.gov/documentation/fig/2023/overview) determined that this is a new exception for denial.
    },
    "denial_reason-2" : {
        1: "Debt-to-income ratio",
        2: "Employment history",
        3: "Credit history",
        4: "Collateral",
        5: "Insufficient cash (downpayment, closing costs)",
        6: "Unverifiable information",
        7: "Credit application incomplete",
        8: "Mortgage insurance denied",
        9: "Other",
        "" : "Field does not contain entry" #Checked updated filing instructions release (https://ffiec.cfpb.gov/documentation/fig/2023/overview) determined that if this data field does not contain an entry, leave it blank
    },
    "denial_reason-3" : {
        1: "Debt-to-income ratio",
        2: "Employment history",
        3: "Credit history",
        4: "Collateral",
        5: "Insufficient cash (downpayment, closing costs)",
        6: "Unverifiable information",
        7: "Credit application incomplete",
        8: "Mortgage insurance denied",
        9: "Other",
        "" : "Field does not contain entry" #Checked updated filing instructions release (https://ffiec.cfpb.gov/documentation/fig/2023/overview) determined that if this data field does not contain an entry, leave it blank
    },
    "denial_reason-4" : {
        1: "Debt-to-income ratio",
        2: "Employment history",
        3: "Credit history",
        4: "Collateral",
        5: "Insufficient cash (downpayment, closing costs)",
        6: "Unverifiable information",
        7: "Credit application incomplete",
        8: "Mortgage insurance denied",
        9: "Other",
        "" : "Field does not contain entry" #Checked updated filing instructions release (https://ffiec.cfpb.gov/documentation/fig/2023/overview) determined that if this data field does not contain an entry, leave it blank
    }    
}

#Determine if Column does not contain any expected value
valueNotFound = dict()
for col in raw_data.columns:
    uniqueValues = pd.unique(raw_data[col])
    #Used to output varied types.
    # if (col not in hdmaDictionary.keys()):
    #         print("Column " + col + " not found in HDMA Dictionary due to Varied Type")
    # else:
        #Check If Column only includes designated values.
    if col in hdmaDictionary.keys():  
        for unique in uniqueValues:
            if (col in hdmaDictionary.keys()) and (unique not in hdmaDictionary[col].keys()):
                #Add to dictionary
                valueNotFound[col] = unique
                print("----------------------------------------------------------------------")
                print("Col: {} of type: {} with uniqueValue: {} Does NOT EXIST in options: {}".format(col, raw_data[col].dtype, unique, hdmaDictionary[col].keys()))
                if str(unique) == "nan":
                    print("With Number of Instances : {} ({:.2f} %)".format(raw_data[col].isna().sum(), (raw_data[col].isna().sum() / raw_data.shape[0]) * 100))
                else:
                    print("With Number of Instances : {} ({:.2f} %)".format((raw_data[col] == unique).sum(), ((raw_data[col] == unique).sum() / raw_data.shape[0]) * 100))

----------------------------------------------------------------------
Col: conforming_loan_limit of type: object with uniqueValue: nan Does NOT EXIST in options: dict_keys(['C', 'NC', 'U', 'NA'])
With Number of Instances : 1276 (0.61 %)
----------------------------------------------------------------------
Col: debt_to_income_ratio of type: object with uniqueValue: nan Does NOT EXIST in options: dict_keys(['<20%', '20%-<30%', '30%-<36%', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50%-60%', '>60%', 'NA', 'Exempt'])
With Number of Instances : 63849 (30.37 %)
----------------------------------------------------------------------
Col: applicant_ethnicity-1 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 11, 12, 13, 14, 2, 3, 4])
With Number of Instances : 244 (0.12 %)
----------------------------------------------------------------------
Col: applicant_ethnicity-2 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 11, 12, 13, 14, 2, 3, 4])
With Number of Instances : 202849 (96.50 %)
----------------------------------------------------------------------
Col: applicant_ethnicity-3 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 11, 12, 13, 14, 2, 3, 4])
With Number of Instances : 210052 (99.92 %)
----------------------------------------------------------------------
Col: applicant_ethnicity-4 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 11, 12, 13, 14, 2, 3, 4])
With Number of Instances : 210207 (100.00 %)
----------------------------------------------------------------------
Col: applicant_ethnicity-5 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 11, 12, 13, 14, 2, 3, 4])
With Number of Instances : 210209 (100.00 %)
----------------------------------------------------------------------
Col: co-applicant_ethnicity-1 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 11, 12, 13, 14, 2, 3, 4, 5])
With Number of Instances : 81 (0.04 %)
----------------------------------------------------------------------
Col: co-applicant_ethnicity-2 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 11, 12, 13, 14, 2, 3, 4])
With Number of Instances : 207651 (98.78 %)
----------------------------------------------------------------------
Col: co-applicant_ethnicity-3 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 11, 12, 13, 14, 2, 3, 4])
With Number of Instances : 210165 (99.98 %)
----------------------------------------------------------------------
Col: co-applicant_ethnicity-4 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 11, 12, 13, 14, 2, 3, 4])
With Number of Instances : 210210 (100.00 %)
----------------------------------------------------------------------
Col: co-applicant_ethnicity-5 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 11, 12, 13, 14, 2, 3, 4])
With Number of Instances : 210210 (100.00 %)
----------------------------------------------------------------------
Col: applicant_race-1 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 2, 21, 22, 23, 24, 25, 26, 27, 3, 4, 41, 42, 43, 44, 5, 6, 7])
With Number of Instances : 124 (0.06 %)
----------------------------------------------------------------------
Col: applicant_race-2 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 2, 21, 22, 23, 24, 25, 26, 27, 3, 4, 41, 42, 43, 44, 5, 6, 7])
With Number of Instances : 199564 (94.94 %)
----------------------------------------------------------------------
Col: applicant_race-3 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 2, 21, 22, 23, 24, 25, 26, 27, 3, 4, 41, 42, 43, 44, 5, 6, 7])
With Number of Instances : 209590 (99.71 %)
----------------------------------------------------------------------
Col: applicant_race-4 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 2, 21, 22, 23, 24, 25, 26, 27, 3, 4, 41, 42, 43, 44, 5, 6, 7])
With Number of Instances : 210167 (99.98 %)
----------------------------------------------------------------------
Col: applicant_race-5 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 2, 21, 22, 23, 24, 25, 26, 27, 3, 4, 41, 42, 43, 44, 5, 6, 7])
With Number of Instances : 210207 (100.00 %)
----------------------------------------------------------------------
Col: co-applicant_race-1 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 2, 21, 22, 23, 24, 25, 26, 27, 3, 4, 41, 42, 43, 44, 5, 6, 7, 8])
With Number of Instances : 25 (0.01 %)
----------------------------------------------------------------------
Col: co-applicant_race-2 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 2, 21, 22, 23, 24, 25, 26, 27, 3, 4, 41, 42, 43, 44, 5, 6, 7])
With Number of Instances : 205531 (97.77 %)
----------------------------------------------------------------------
Col: co-applicant_race-3 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 2, 21, 22, 23, 24, 25, 26, 27, 3, 4, 41, 42, 43, 44, 5, 6, 7])
With Number of Instances : 209967 (99.88 %)
----------------------------------------------------------------------
Col: co-applicant_race-4 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 2, 21, 22, 23, 24, 25, 26, 27, 3, 4, 41, 42, 43, 44, 5, 6, 7])
With Number of Instances : 210194 (99.99 %)
----------------------------------------------------------------------
Col: co-applicant_race-5 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 2, 21, 22, 23, 24, 25, 26, 27, 3, 4, 41, 42, 43, 44, 5, 6, 7])
With Number of Instances : 210205 (100.00 %)
----------------------------------------------------------------------
Col: applicant_age_above_62 of type: object with uniqueValue: nan Does NOT EXIST in options: dict_keys(['Yes', 'No', 'NA'])
With Number of Instances : 29565 (14.06 %)
----------------------------------------------------------------------
Col: co-applicant_age_above_62 of type: object with uniqueValue: nan Does NOT EXIST in options: dict_keys(['Yes', 'No', 'NA'])
With Number of Instances : 129154 (61.44 %)
----------------------------------------------------------------------
Col: aus-2 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 2, 3, 4, 5, 6, 7, ''])
With Number of Instances : 204429 (97.25 %)
----------------------------------------------------------------------
Col: aus-3 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 2, 3, 4, 5, 6, 7, ''])
With Number of Instances : 209163 (99.50 %)
----------------------------------------------------------------------
Col: aus-4 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 2, 3, 4, 5, 6, 7, ''])
With Number of Instances : 209826 (99.82 %)
----------------------------------------------------------------------
Col: aus-5 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 2, 3, 4, 5, 6, 7, ''])
With Number of Instances : 209878 (99.84 %)
----------------------------------------------------------------------
Col: denial_reason-2 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, ''])
With Number of Instances : 201904 (96.05 %)
----------------------------------------------------------------------
Col: denial_reason-3 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, ''])
With Number of Instances : 208754 (99.31 %)
----------------------------------------------------------------------
Col: denial_reason-4 of type: float64 with uniqueValue: nan Does NOT EXIST in options: dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, ''])
With Number of Instances : 210100 (99.95 %)

## Categorical Values with nan

Many of the categorical values in this dictionary include nan entries for features such as 'debt_to_income_ratio'. These entries need to be re-encoded to their expected value, as this is the correct value that should be displayed according to the HDMA's LAR (Loan Asset Register) documentation.

In [323]:
#Re-Encoding of nan values to match expected column value
hdmaNANMapping = {
    "conforming_loan_limit": "NA",
    "debt_to_income_ratio" : "NA",
    "applicant_ethnicity-1": "NA",
    "applicant_ethnicity-2" : "NA",
    "applicant_ethnicity-3" : "NA",
    "applicant_ethnicity-4" : "NA",
    "applicant_ethnicity-5" : "NA",
    "co-applicant_ethnicity-1" : "NA",
    "co-applicant_ethnicity-2" : "NA",
    "co-applicant_ethnicity-3" : "NA",
    "co-applicant_ethnicity-4" : "NA",
    "co-applicant_ethnicity-5" : "NA",
    "applicant_race-1" : "NA",
    "applicant_race-2" : "NA",
    "applicant_race-3" : "NA",
    "applicant_race-4" : "NA",
    "applicant_race-5" : "NA",
    "co-applicant_race-1" :"NA",
    "co-applicant_race-2" :"NA",
    "co-applicant_race-3" :"NA",
    "co-applicant_race-4" :"NA",
    "co-applicant_race-5" :"NA",
    "applicant_age_above_62":"NA",
    "co-applicant_age_above_62":"NA",
    "aus-2":"", #If this data field does not contain an entry, leave it blank
    "aus-3": "", #If this data field does not contain an entry, leave it blank
    "aus-4": "", #If this data field does not contain an entry, leave it blank
    "aus-5": "", #If this data field does not contain an entry, leave it blank
    "denial_reason-2" : "", #Checked updated filing instructions release (https://ffiec.cfpb.gov/documentation/fig/2023/overview) determined that if this data field does not contain an entry, leave it blank
    "denial_reason-3" : "", #Checked updated filing instructions release (https://ffiec.cfpb.gov/documentation/fig/2023/overview) determined that if this data field does not contain an entry, leave it blank
    "denial_reason-4" : "", #Checked updated filing instructions release (https://ffiec.cfpb.gov/documentation/fig/2023/overview) determined that if this data field does not contain an entry, leave it blank
}

#If Na, we want to re-encode this as NA
processed_data = raw_data.fillna(value=hdmaNANMapping)
processed_data.head()

,lei,derived_msa-md,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,derived_race,derived_sex,...,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,549300JOT0D4J0SZIK67,44140,25013.0,2.501380e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Sex Not Available,...,,,,2145,81.40,94600,73.22,480,688,61
1,549300JOT0D4J0SZIK67,15764,25009.0,2.500926e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Sex Not Available,...,,,,3623,39.28,146200,37.31,389,889,0
2,549300JOT0D4J0SZIK67,15764,25017.0,2.501731e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Sex Not Available,...,,,,4920,62.38,146200,58.92,1222,1537,68
3,549300JOT0D4J0SZIK67,38340,25003.0,2.500391e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Sex Not Available,...,,,,6330,8.18,92500,111.18,2350,3056,64
4,549300JOT0D4J0SZIK67,15764,25009.0,2.500925e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Sex Not Available,...,,,,7992,37.15,146200,143.23,2058,2087,34

In [324]:
for col in hdmaNANMapping.keys():
    print("{} \n".format(processed_data[col].value_counts()))

conforming_loan_limit
C     191505
NC     17348
NA      1276
U         81
Name: count, dtype: int64

debt_to_income_ratio
NA          63849
30%-<36%    18642
20%-<30%    18405
50%-60%     14323
>60%        13863
Exempt      11056
<20%         6390
42           6296
44           6019
49           5295
41           4942
43           4792
40           4650
39           4459
38           4213
45           4039
37           4019
36           3913
48           3819
47           3640
46           3586
Name: count, dtype: int64

applicant_ethnicity-1
2.0     136065
4.0      28686
3.0      28191
1.0      15093
14.0      1425
12.0       391
NA         244
11.0        76
13.0        39
Name: count, dtype: int64

applicant_ethnicity-2
NA      202849
14.0      4181
12.0      2342
11.0       528
13.0       179
2.0        124
1.0          7
Name: count, dtype: int64

applicant_ethnicity-3
NA      210052
14.0       101
12.0        26
13.0        25
11.0         3
2.0          3
Name: count, dtype: int64

applicant_ethnicity-4
NA      210207
13.0         2
14.0         1
Name: count, dtype: int64

applicant_ethnicity-5
NA      210209
14.0         1
Name: count, dtype: int64

co-applicant_ethnicity-1
5.0     104383
2.0      61428
4.0      24354
3.0      13743
1.0       5622
14.0       414
12.0       119
NA          81
11.0        49
13.0        17
Name: count, dtype: int64

co-applicant_ethnicity-2
NA      207651
14.0      1438
12.0       802
11.0       226
13.0        54
2.0         37
1.0          2
Name: count, dtype: int64

co-applicant_ethnicity-3
NA      210165
14.0        33
12.0         7
13.0         5
Name: count, dtype: int64

co-applicant_ethnicity-4
NA    210210
Name: count, dtype: int64

co-applicant_ethnicity-5
NA    210210
Name: count, dtype: int64

applicant_race-1
5.0     122513
6.0      29917
7.0      28688
3.0      13011
2.0      11952
21.0      1374
1.0       1151
27.0       387
22.0       383
44.0       197
4.0        173
26.0       159
NA         124
25.0        83
23.0        73
24.0        18
42.0         5
43.0         2
Name: count, dtype: int64

applicant_race-2
NA      199564
22.0      2918
21.0      2849
5.0       1441
27.0      1162
26.0      1093
25.0       392
23.0       250
3.0        213
44.0       126
24.0       106
2.0         48
4.0         35
41.0         7
42.0         3
43.0         3
Name: count, dtype: int64

applicant_race-3
NA      209590
21.0       106
5.0         95
27.0        90
22.0        81
26.0        77
23.0        44
24.0        40
44.0        35
25.0        35
4.0          5
3.0          5
41.0         3
42.0         2
43.0         2
Name: count, dtype: int64

applicant_race-4
NA      210167
44.0        11
27.0         9
22.0         5
23.0         5
25.0         3
41.0         2
24.0         2
5.0          2
3.0          1
43.0         1
26.0         1
21.0         1
Name: count, dtype: int64

applicant_race-5
NA      210207
44.0         2
41.0         1
Name: count, dtype: int64

co-applicant_race-1
8.0     104322
5.0      55899
7.0      24394
6.0      14055
2.0       5591
3.0       4343
21.0       654
1.0        284
27.0       160
22.0       158
26.0        80
44.0        67
4.0         66
25.0        48
23.0        40
NA          25
24.0        19
42.0         3
41.0         1
43.0         1
Name: count, dtype: int64

co-applicant_race-2
NA      205531
21.0      1388
22.0      1275
5.0        521
27.0       495
26.0       469
25.0       197
23.0       148
24.0        57
3.0         49
44.0        38
2.0         24
4.0          8
42.0         5
41.0         3
1.0          1
43.0         1
Name: count, dtype: int64

co-applicant_race-3
NA      209967
22.0        49
21.0        39
27.0        35
5.0         33
26.0        28
25.0        17
23.0        16
24.0        14
44.0         7
4.0          2
1.0          1
3.0          1
41.0         1
Name: count, dtype: int64

co-applicant_race-4
NA      210194
44.0         4
27.0         4
26.0         2
5.0          2
4.0          1
41.0         1
22.0         1
23.0         1
Name: count, dtype: int64

co-applicant_race-5
NA      210205
44.0         2
2.0          1
42.0         1
22.0         1
Name: count, dtype: int64

applicant_age_above_62
No     148151
Yes     32494
NA      29565
Name: count, dtype: int64

co-applicant_age_above_62
NA     129154
No      66202
Yes     14854
Name: count, dtype: int64

aus-2
       204429
1.0      2878
2.0      2295
7.0       265
5.0       224
3.0       119
Name: count, dtype: int64

aus-3
       209163
2.0       372
5.0       311
1.0       273
3.0        91
Name: count, dtype: int64

aus-4
       209826
1.0       243
3.0        74
2.0        67
Name: count, dtype: int64

aus-5
       209878
1.0       210
3.0        61
2.0        60
5.0         1
Name: count, dtype: int64

denial_reason-2
       201904
4.0      2005
1.0      1991
3.0      1494
9.0      1327
6.0       564
2.0       369
5.0       343
7.0       199
8.0        14
Name: count, dtype: int64

denial_reason-3
       208754
4.0       457
9.0       345
6.0       170
3.0       167
1.0       135
5.0        86
2.0        73
7.0        21
8.0         2
Name: count, dtype: int64

denial_reason-4
       210100
9.0        42
6.0        22
4.0        18
1.0         7
3.0         7
2.0         6
5.0         4
7.0         2
8.0         2
Name: count, dtype: int64

#### Categorical Feature Type Reassignment 

Given that we have modified these datatypes to contain the HDMA required values of "NA" or "" for nan/null cases, we must ensure that the datatype for the pandas dataframe reflects this. 
Some values were intially loaded as numerical for some cases ex: applicant_ethnicity-1  = [1,2,13,11,12,14], however due to the inclusion of "NA" as a value we must set the type to a string to support this.

In [325]:
for col in hdmaNANMapping.keys():
    processed_data[col] = processed_data[col].astype(str)

## Numerical Features

For processing the numerical features, we simply determine which columns have not been modified previously and briefly analyze the data. We can note that for several of these remaining 25 features, there are some cases, in which although these as supposed to be numerical values, we also see an option for 'Excempt' for instance for loan_to_value_ratio. After doing some investigation, we realize that these values correspond to special loan products for the following cases:

1. Government-Backed Loans
2. Special Programs and Grants
3. Certain Refinancing Programs

As such, we must pay attention to these cases, and make sure that setting the numeric datatype will not disregard the 'Excempt' value cases.

In [326]:
#Pre-processing varied i.e: Numerical,  column types
hdmaDictKeys = set(hdmaDictionary.keys())
processed_dataColumns = set(processed_data.columns)
numericalColumns =hdmaDictKeys.symmetric_difference(processed_dataColumns)

for col in numericalColumns:
    print("{} \n".format(processed_data[col].value_counts()))

loan_amount
105000.0      10770
55000.0        8637
205000.0       7156
155000.0       5714
255000.0       5427
              ...
45725000.0        1
65505000.0        1
5925000.0         1
7965000.0         1
34545000.0        1
Name: count, Length: 710, dtype: int64

multifamily_affordable_units
Exempt    11023
0           695
100          35
25           12
20            7
17            5
10            5
27            5
11            3
44            3
13            3
15            3
21            3
26            3
83            3
16            2
90            2
9             2
24            2
50            2
14            2
80            1
99            1
94            1
7             1
18            1
96            1
5             1
38            1
3             1
60            1
2             1
22            1
4             1
6             1
40            1
29            1
30            1
56            1
71            1
57            1
Name: count, dtype: int64

interest_rate
Exempt    11056
6.75       5421
6.5        5219
6.25       4815
6.625      4788
          ...
7.102         1
7.098         1
7.182         1
5.603         1
8.0543        1
Name: count, Length: 1630, dtype: int64

total_points_and_fees
Exempt     11060
0.0          167
375.0         32
941.6         13
955.6          7
           ...
12095.0        1
29435.0        1
8994.72        1
8545.0         1
1485.0         1
Name: count, Length: 110, dtype: int64

property_value
Exempt      11094
505000       3123
605000       3006
555000       2997
455000       2960
            ...
5085000         1
8935000         1
6455000         1
11755000        1
15675000        1
Name: count, Length: 891, dtype: int64

lei
DRMSV1Q0EKMEXLAU1P80    15294
7H6GLXDRUGQFU57RNE97    13442
B4TYDEB6GKMZO031MB27     8332
549300U3721PJGQZYY68     6139
TKT6FH38184ZYBTPKS77     5441
                        ...
5493004NH61PL6YYNH25        1
549300QHFDNFAMLATM94        1
549300H68PK1CZUVUQ73        1
549300N1R0R39PYT7O68        1
5493004T9SQFCNRQ2L76        1
Name: count, Length: 776, dtype: int64

rate_spread
Exempt    11045
-0.04       528
-0.19       491
-0.22       436
0.21        433
          ...
-4.453        1
-4.171        1
-4.949        1
-4.798        1
-5.25         1
Name: count, Length: 7664, dtype: int64

county_code
25017.0    42472
25027.0    27882
25009.0    22896
25021.0    21940
25023.0    20061
25025.0    19337
25005.0    17248
25013.0    14068
25001.0    11401
25003.0     4302
25015.0     3696
25011.0     1794
25007.0      981
25019.0      956
Name: count, dtype: int64

tract_to_msa_income_percentage
222.01    2445
0.00      2350
205.79    1654
160.51     729
108.89     670
          ...
30.71        2
37.45        2
46.36        2
59.62        2
98.23        2
Name: count, Length: 1451, dtype: int64

lender_credits
Exempt    11060
250.0      1275
500.0       810
1000.0      546
10.0        425
          ...
747.0         1
4220.5        1
1199.0        1
864.0         1
18.9          1
Name: count, Length: 9188, dtype: int64

origination_charges
0.0        12977
Exempt     11060
655.0       2877
1440.0      2770
1349.0      2474
           ...
1737.38        1
6751.66        1
3917.84        1
2848.16        1
922.4          1
Name: count, Length: 26155, dtype: int64

loan_term
360       132246
300        26690
240        15070
Exempt     11053
180         8808
           ...
197            1
234            1
187            1
22             1
363            1
Name: count, Length: 302, dtype: int64

intro_rate_period
1         42592
Exempt    10925
84         9743
60         5995
120        5191
12         3995
6          2667
36          832
24          611
62          566
360         539
2           500
3           303
180         284
72           88
300          50
96           43
86           26
9            26
132          15
18           15
61           12
5            12
48            9
85            6
15            5
4             4
240           4
11            3
16            3
63            3
66            3
126           2
40            2
8             2
64            2
37            2
38            2
720           2
30            2
58            1
14            1
121           1
31            1
22            1
53            1
55            1
28            1
106           1
Name: count, dtype: int64

prepayment_penalty_term
Exempt    10926
36         9190
24         6811
12          676
2            10
60            9
84            1
0             1
Name: count, dtype: int64

census_tract
2.501737e+10    409
2.501737e+10    395
2.502350e+10    371
2.502775e+10    370
2.501380e+10    354
               ...
2.502500e+10      1
2.502598e+10      1
2.502598e+10      1
2.502598e+10      1
2.502398e+10      1
Name: count, Length: 1587, dtype: int64

tract_minority_population_percent
0.00     1153
12.45     726
14.89     710
8.90      661
8.77      658
         ...
75.00       1
72.16       1
46.32       1
83.33       1
31.65       1
Name: count, Length: 1400, dtype: int64

tract_owner_occupied_units
0       1238
1431     941
1233     779
1442     735
2144     708
        ...
26         6
17         3
45         2
5          1
3          1
Name: count, Length: 1123, dtype: int64

tract_one_to_four_family_homes
0       1311
1552     777
1680     760
2145     730
1321     712
        ...
404        2
72         2
37         2
38         2
40         1
Name: count, Length: 1142, dtype: int64

tract_population
0       1153
4716     641
4446     564
6259     543
8441     529
        ...
6          1
4          1
2282       1
79         1
97         1
Name: count, Length: 1383, dtype: int64

ffiec_msa_md_median_family_income
146200    65369
136900    61348
115600    27882
94600     19559
108300    17363
124300    11403
92500      4302
130000     1937
0          1047
Name: count, dtype: int64

discount_points
Exempt     11060
1500.0        62
500.0         58
3000.0        55
4500.0        52
           ...
1879.1         1
2949.75        1
2639.02        1
2702.75        1
3014.91        1
Name: count, Length: 20760, dtype: int64

income
 120.0     1664
 100.0     1640
 90.0      1424
 80.0      1389
 75.0      1381
           ...
 1908.0       1
 1169.0       1
 1017.0       1
-58.0         1
 5375.0       1
Name: count, Length: 2098, dtype: int64

tract_median_age_of_housing_units
0     43480
42     5910
43     5771
47     5561
44     5442
      ...
14       52
17       48
16       28
10       25
13       19
Name: count, Length: 71, dtype: int64

total_loan_costs
Exempt      11060
0.0          7161
300.0         712
99.0          711
90.0          110
            ...
12650.01        1
17458.3         1
18389.59        1
14023.32        1
2761.0          1
Name: count, Length: 55094, dtype: int64

loan_to_value_ratio
80.0      12875
Exempt    11056
95.0       5973
75.0       4528
96.5       4271
          ...
69.564        1
48.343        1
62.569        1
40.661        1
12.494        1
Name: count, Length: 38951, dtype: int64

#

In [327]:
#Determining which columns have mixed data type (i.e: May have numeric values with 'Exempt' case)
mixed_columns = dict()
for column in processed_data.columns:
    types = processed_data[column].map(type).nunique()
    if types > 1:
        mixed_columns[column] = processed_data[column].map(type).unique()
        print("Column: {}, Types: {}".format(column, mixed_columns[column]))

Column: loan_to_value_ratio, Types: [<class 'float'> <class 'str'>]
Column: interest_rate, Types: [<class 'str'> <class 'float'>]
Column: rate_spread, Types: [<class 'float'> <class 'str'>]
Column: total_loan_costs, Types: [<class 'str'> <class 'float'>]
Column: total_points_and_fees, Types: [<class 'float'> <class 'str'>]
Column: origination_charges, Types: [<class 'str'> <class 'float'>]
Column: discount_points, Types: [<class 'str'> <class 'float'>]
Column: lender_credits, Types: [<class 'float'> <class 'str'>]
Column: loan_term, Types: [<class 'str'> <class 'float'>]
Column: prepayment_penalty_term, Types: [<class 'float'> <class 'str'>]
Column: intro_rate_period, Types: [<class 'float'> <class 'str'>]
Column: property_value, Types: [<class 'str'> <class 'float'>]
Column: multifamily_affordable_units, Types: [<class 'float'> <class 'str'>]

Similarly to the re-encoding of categorical variables, we must make sure that the 'Exempt' cases are not disregarded, thus, we must also re-encode these as string to support for this case. Given that blank values were set to be Null on the previous case, we can also re-encode these to be the expected "NA" value as set by the HDMA LAR standard. We can perform both of these operations at once with the code below.

In [328]:
for col in mixed_columns.keys():
    processed_data[col] = processed_data[col].fillna("NA").astype(str)
    
for col in numericalColumns:
    print("{} \n".format(processed_data[col].value_counts()))

loan_amount
105000.0      10770
55000.0        8637
205000.0       7156
155000.0       5714
255000.0       5427
              ...
45725000.0        1
65505000.0        1
5925000.0         1
7965000.0         1
34545000.0        1
Name: count, Length: 710, dtype: int64

multifamily_affordable_units
NA        198370
Exempt     11023
0            695
100           35
25            12
20             7
17             5
10             5
27             5
11             3
44             3
21             3
15             3
13             3
26             3
83             3
16             2
90             2
9              2
24             2
50             2
14             2
80             1
99             1
94             1
7              1
18             1
96             1
5              1
38             1
3              1
60             1
2              1
22             1
4              1
6              1
40             1
29             1
30             1
56             1
71             1
57             1
Name: count, dtype: int64

interest_rate
NA        64181
Exempt    11056
6.75       5421
6.5        5219
6.25       4815
          ...
7.443         1
7.778         1
7.351         1
8.32          1
8.0543        1
Name: count, Length: 1631, dtype: int64

total_points_and_fees
NA         198804
Exempt      11060
0.0           167
375.0          32
941.6          13
            ...
12095.0         1
29435.0         1
8994.72         1
8545.0          1
1485.0          1
Name: count, Length: 111, dtype: int64

property_value
NA          33363
Exempt      11094
505000       3123
605000       3006
555000       2997
            ...
5085000         1
8935000         1
6455000         1
11755000        1
15675000        1
Name: count, Length: 892, dtype: int64

lei
DRMSV1Q0EKMEXLAU1P80    15294
7H6GLXDRUGQFU57RNE97    13442
B4TYDEB6GKMZO031MB27     8332
549300U3721PJGQZYY68     6139
TKT6FH38184ZYBTPKS77     5441
                        ...
5493004NH61PL6YYNH25        1
549300QHFDNFAMLATM94        1
549300H68PK1CZUVUQ73        1
549300N1R0R39PYT7O68        1
5493004T9SQFCNRQ2L76        1
Name: count, Length: 776, dtype: int64

rate_spread
NA        100169
Exempt     11045
-0.04        528
-0.19        491
-0.22        436
           ...
5.811          1
6.671          1
2.127          1
1.751          1
-5.25          1
Name: count, Length: 7665, dtype: int64

county_code
25017.0    42472
25027.0    27882
25009.0    22896
25021.0    21940
25023.0    20061
25025.0    19337
25005.0    17248
25013.0    14068
25001.0    11401
25003.0     4302
25015.0     3696
25011.0     1794
25007.0      981
25019.0      956
Name: count, dtype: int64

tract_to_msa_income_percentage
222.01    2445
0.00      2350
205.79    1654
160.51     729
108.89     670
          ...
30.71        2
37.45        2
46.36        2
59.62        2
98.23        2
Name: count, Length: 1451, dtype: int64

lender_credits
NA        170812
Exempt     11060
250.0       1275
500.0        810
1000.0       546
           ...
747.0          1
4220.5         1
1199.0         1
864.0          1
18.9           1
Name: count, Length: 9189, dtype: int64

origination_charges
NA         110654
0.0         12977
Exempt      11060
655.0        2877
1440.0       2770
            ...
1737.38         1
6751.66         1
3917.84         1
2848.16         1
922.4           1
Name: count, Length: 26156, dtype: int64

loan_term
360       132246
300        26690
240        15070
Exempt     11053
180         8808
           ...
197            1
234            1
187            1
22             1
243            1
Name: count, Length: 303, dtype: int64

intro_rate_period
NA        125115
1          42592
Exempt     10925
84          9743
60          5995
120         5191
12          3995
6           2667
36           832
24           611
62           566
360          539
2            500
3            303
180          284
72            88
300           50
96            43
86            26
9             26
132           15
18            15
61            12
5             12
48             9
85             6
15             5
4              4
240            4
11             3
16             3
63             3
66             3
126            2
40             2
8              2
64             2
37             2
38             2
720            2
30             2
58             1
14             1
121            1
31             1
22             1
53             1
55             1
28             1
106            1
Name: count, dtype: int64

prepayment_penalty_term
NA        182586
Exempt     10926
36          9190
24          6811
12           676
2             10
60             9
84             1
0              1
Name: count, dtype: int64

census_tract
2.501737e+10    409
2.501737e+10    395
2.502350e+10    371
2.502775e+10    370
2.501380e+10    354
               ...
2.502500e+10      1
2.502598e+10      1
2.502598e+10      1
2.502598e+10      1
2.502398e+10      1
Name: count, Length: 1587, dtype: int64

tract_minority_population_percent
0.00     1153
12.45     726
14.89     710
8.90      661
8.77      658
         ...
75.00       1
72.16       1
46.32       1
83.33       1
31.65       1
Name: count, Length: 1400, dtype: int64

tract_owner_occupied_units
0       1238
1431     941
1233     779
1442     735
2144     708
        ...
26         6
17         3
45         2
5          1
3          1
Name: count, Length: 1123, dtype: int64

tract_one_to_four_family_homes
0       1311
1552     777
1680     760
2145     730
1321     712
        ...
404        2
72         2
37         2
38         2
40         1
Name: count, Length: 1142, dtype: int64

tract_population
0       1153
4716     641
4446     564
6259     543
8441     529
        ...
6          1
4          1
2282       1
79         1
97         1
Name: count, Length: 1383, dtype: int64

ffiec_msa_md_median_family_income
146200    65369
136900    61348
115600    27882
94600     19559
108300    17363
124300    11403
92500      4302
130000     1937
0          1047
Name: count, dtype: int64

discount_points
NA         166344
Exempt      11060
1500.0         62
500.0          58
3000.0         55
            ...
5814.46         1
4670.32         1
4712.73         1
1897.0          1
3014.91         1
Name: count, Length: 20761, dtype: int64

income
 120.0     1664
 100.0     1640
 90.0      1424
 80.0      1389
 75.0      1381
           ...
 1908.0       1
 1169.0       1
 1017.0       1
-58.0         1
 5375.0       1
Name: count, Length: 2098, dtype: int64

tract_median_age_of_housing_units
0     43480
42     5910
43     5771
47     5561
44     5442
      ...
14       52
17       48
16       28
10       25
13       19
Name: count, Length: 71, dtype: int64

total_loan_costs
NA          111470
Exempt       11060
0.0           7161
300.0          712
99.0           711
             ...
12650.01         1
17458.3          1
18389.59         1
14023.32         1
2761.0           1
Name: count, Length: 55095, dtype: int64

loan_to_value_ratio
NA        61174
80.0      12875
Exempt    11056
95.0       5973
75.0       4528
          ...
69.564        1
48.343        1
62.569        1
40.661        1
12.494        1
Name: count, Length: 38952, dtype: int64

## Feature Analysis

We can now finally perform feature analysis by encoding features as necessary first then performing standardization

In [329]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
import numpy as np

target = processed_data['action_taken']
features = processed_data.drop('action_taken', axis=1)

#Complete list of purely numerical features
numericalFeatures = features.select_dtypes(include=[np.number]).columns
categoricalFeatures = features.select_dtypes(exclude=[np.number]).columns

print("Numerical Features : ", numericalFeatures)
print("Categorical Features : ", categoricalFeatures)

#Use label encoder for categorical values
encoder = LabelEncoder()
for column in categoricalFeatures:
    features[column] = encoder.fit_transform(features[column])

#Standarize Numerical features
scaler = StandardScaler()
features[numericalFeatures] = scaler.fit_transform(features[numericalFeatures])

#See resultant data
features.head()

Numerical Features :  Index(['derived_msa-md', 'county_code', 'census_tract', 'purchaser_type',
       'preapproval', 'loan_type', 'loan_purpose', 'lien_status',
       'reverse_mortgage', 'open-end_line_of_credit',
       'business_or_commercial_purpose', 'loan_amount', 'hoepa_status',
       'negative_amortization', 'interest_only_payment', 'balloon_payment',
       'other_nonamortizing_features', 'construction_method', 'occupancy_type',
       'manufactured_home_secured_property_type',
       'manufactured_home_land_property_interest', 'income',
       'applicant_credit_score_type', 'co-applicant_credit_score_type',
       'applicant_ethnicity_observed', 'co-applicant_ethnicity_observed',
       'applicant_race_observed', 'co-applicant_race_observed',
       'applicant_sex', 'co-applicant_sex', 'applicant_sex_observed',
       'co-applicant_sex_observed', 'submission_of_application',
       'initially_payable_to_institution', 'aus-1', 'denial_reason-1',
       'tract_population', 'tract_minority_population_percent',
       'ffiec_msa_md_median_family_income', 'tract_to_msa_income_percentage',
       'tract_owner_occupied_units', 'tract_one_to_four_family_homes',
       'tract_median_age_of_housing_units'],
      dtype='object')
Categorical Features :  Index(['lei', 'conforming_loan_limit', 'derived_loan_product_type',
       'derived_dwelling_category', 'derived_ethnicity', 'derived_race',
       'derived_sex', 'loan_to_value_ratio', 'interest_rate', 'rate_spread',
       'total_loan_costs', 'total_points_and_fees', 'origination_charges',
       'discount_points', 'lender_credits', 'loan_term',
       'prepayment_penalty_term', 'intro_rate_period', 'property_value',
       'total_units', 'multifamily_affordable_units', 'debt_to_income_ratio',
       'applicant_ethnicity-1', 'applicant_ethnicity-2',
       'applicant_ethnicity-3', 'applicant_ethnicity-4',
       'applicant_ethnicity-5', 'co-applicant_ethnicity-1',
       'co-applicant_ethnicity-2', 'co-applicant_ethnicity-3',
       'co-applicant_ethnicity-4', 'co-applicant_ethnicity-5',
       'applicant_race-1', 'applicant_race-2', 'applicant_race-3',
       'applicant_race-4', 'applicant_race-5', 'co-applicant_race-1',
       'co-applicant_race-2', 'co-applicant_race-3', 'co-applicant_race-4',
       'co-applicant_race-5', 'applicant_age', 'co-applicant_age',
       'applicant_age_above_62', 'co-applicant_age_above_62', 'aus-2', 'aus-3',
       'aus-4', 'aus-5', 'denial_reason-2', 'denial_reason-3',
       'denial_reason-4'],
      dtype='object')

KeyboardInterrupt:

In [ ]:
features.describe()

Determine correlation of each feature with the target variable

In [ ]:
#Correlations
correlations = features.corr(target)
print("Correlation of each feature with the target:")
correlations.abs()

# Model Selection

We will use the following models for the classification task